<admin-menu></admin-menu>
<div class="wrap admin-page admin-news-list">
  <div class="admin-heading"><i class="fa fa-newspaper-o"></i>Danh sách Tin tức</div>
  <div class="admin-content width-footer news-list">
    <div
      class="news-item"
      ng-repeat="(key, news) in dataNews track by $index"
      ng-class="{'disabled' : !news.active}">
      <div class="news-thumbnail" style="background-image: url('{{news.thumbnail}}')">
        <div class="news-id">{{news.id}}</div>
        <div class="info-date"><i class="fa fa-calendar"></i>Ngày đăng: {{news.datePosted}}</div>
      </div>
      <div class="news-info">
        <div class="info-name">{{news.name}}</div>
        <div class="info-description">{{news.description}}</div>
        <div class="news-action">
          <md-switch
            class="md-primary action-switch"
            ng-model="news.active"
            ng-click="changeActive(news)">
          </md-switch>
          <div class="action-edit">
            <md-button class="button-blue" ng-click="viewDetail(news)">Xem chi tiết</md-button>
            <md-button class="button-blue">Chỉnh sửa</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="admin-footer">
    <md-button ng-click="addNewNews()"><i class="fa fa-plus"></i>Tạo Tin tức mới</md-button>
  </div>
</div>