slide-full {
  display: block;
  position: relative;

  .slide-item {
    width: 100%;
    height: auto;
    padding: 40px 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;

    @media (min-width: 768px) {
      padding: 60px 20px;
    }

    @media (min-width: 1280px) {
      padding: 120px 20px;
    }

    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
    }

    > * {
      position: relative;
      z-index: 50;
    }

    .item-title {
      @include transition;
      font-family: RobotoCondensed-Bold;
      color: $color-white;
      font-size: 32px;
      line-height: 34px;
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
      text-shadow: $shadow-text;
      text-transform: capitalize;

      @media (min-width: 768px) {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 25px;
      }

      @media (min-width: 1280px) {
        font-size: 56px;
        line-height: 62px;
        margin-bottom: 30px;
      }

      &:after {
        display: block;
        content: "";
        background-image: url(../../module/slide-full/images/divider.png);
        background-size: 100% 100%;
        width: 350px;
        height: 3px;
        max-width: 80%;
        margin: 20px auto 0;

        @media (min-width: 768px) {
          margin-top: 30px;
        }

        @media (min-width: 1280px) {
          margin-top: 40px;
        }
      }
    }

    .item-description {
      width: 100%;
      font-family: RobotoCondensed-Bold;
      text-align: center;
      color: $color-white;
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      text-shadow: $shadow-text;

      @media (min-width: 768px) {
        font-size: 22px;
        line-height: 26px;
      }

      @media (min-width: 1280px) {
        font-size: 26px;
        line-height: 34px;
      }
    }

    .item-link {
      @include radius(0);
      margin: 30px auto 0;
      color: $color-white;
      border: 1px solid $color-white;
      padding: 0 15px;
      font-family: Roboto-Bold;

      @media (min-width: 768px) {
        margin-top: 35px;
      }

      @media (min-width: 1280px) {
        margin-top: 40px;
      }
    }
  }
}