<div class="slide-item" style="background-image: url({{slideSelected.img}})">
  <div class="item-title">{{slideSelected.title}}</div>
  <div class="item-description">{{slideSelected.description}}</div>
  <md-button class="item-link" href="{{slideSelected.link}}">{{slideSelected.textButton}}</md-button>
</div>