admin-menu {
  @include transition;
  display: block;
  width: 100%;
  height: 60px;
  background: $color-blue;
  box-shadow: $shadow-1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  @media (min-width: 1280px) {
    height: 60px;
  }

  > .left {
    display: block;
  }

  .search-toggle, .nav-mobile {
    @include transition;
    width: 36px;
    min-width: 36px;
    padding: 0;
    height: 36px;
    background: $color-blue;
    color: $color-white;
    font-size: 16px;
    border: 1px solid $color-white;
    box-shadow: none;
    opacity: .75;

    &:hover {
      opacity: 1;
    }

  }

  .nav-mobile {
    margin: 12px 12px 0 0;
    float: right;
    line-height: 34px;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .logo-text {
    font-family: Roboto-Bold;
    font-size: 20px;
    text-transform: uppercase;
    color: $color-white;
    margin: 12px 0 0 10px;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;

    img {
      margin-top: 8px;
      margin-right: 8px;
      max-height: 28px;
      width: auto;
    }
  }
}