.header-container(ng-class="{'show-menu' : openNavigation}")
  a.logo(href="/")
    img(src="./1008/style/image/template/logo.png", alt="")
  nav.fa(
    ng-click="toggleNavigation()",
    ng-class="{'fa-bars' : !openNavigation,'fa-close' : openNavigation}"
  )
.header-navigation(ng-class="{'show' : openNavigation}")
  .nav-container
    a(href="/", ng-click="openNavigation = false")
      i.fa.fa-home
      span
        span Dự án
        span Nhà - Đất
    a(href="/cam-nang-bat-dong-san", ng-click="openNavigation = false")
      i.fa.fa-book
      span
        span Cẩm nang
        span Bất động sản
    a(href="/dich-vu-khach-hang", ng-click="openNavigation = false")
      i.fa.fa-user
      span
        span Dịch vụ
        span Khách hàng
    a(href="/lien-he", ng-click="openNavigation = false")
      i.fa.fa-wpforms
      span
        span Thông tin
        span Liên hệ
.header-offset
