@import "../../style/scss/color";
@import "../../style/scss/mixin";

header {
  position: relative;
  z-index: 90;

  .header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-white;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: $shadow-blur;
    padding: 0 10px;
    z-index: 100;

    @media (min-width: 1024px) {
      width: calc(100% - 350px);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
      box-shadow: none;

      &.show-menu {
        width: 100%;
      }
    }

    .logo {
      display: block;
      cursor: pointer;
      height: 30px;
      width: auto;

      img {
        display: block;
        height: 30px;
        width: auto;
      }
    }

    nav {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      color: $color-6;
      text-align: center;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background: $color-fa;
      }
    }
  }

  .header-navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 90;
    top: -100%;
    left: 0;
    background: rgba(255, 255, 255, .5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    transition: 0.5s all ease 0s;

    &.show {
      top: 0;
    }

    .nav-container {
      padding: 90px 0 30px;
      min-height: 442px;
    }

    a {
      box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-blue;
      border-radius: 10px;
      padding: 15px 5px 15px 20px;
      display: flex;
      margin-bottom: 30px;
      width: 220px;
      color: $color-white;
      background:$color-white;
      transition: 0.5s all ease 0s;

      &:hover {
        background: $color-blue;

        i, span {
          color: $color-white;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      i {
        color: $color-blue;
        font-size: 40px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 15px;
        transition: 0.5s all ease 0s;
      }

      &>span {
        span {
          color: $color-blue;
          width: 100%;
          display: block;
          transition: 0.5s all ease 0s;

          &:first-child {
            font-size: 12px;
            font-family: 'avenir-next-bold';
            text-transform: uppercase;
            line-height: 14px;
          }

          &:last-child {
            font-family: 'avenir-next-regular';
            font-size: 22px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .header-offset {
    width: 100%;
    height: 60px;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}
