<div class="news-list-heading">
  Tin tức mới
</div>
<div class="wrap">
  <news-item ng-repeat="(key, product) in dataNews track by $index" data="product" ng-if="checkShow(key)"></news-item>
</div>
<!-- <pagination ng-if="showPagenation"></pagination> -->