news-list {
  width: 100%;
  display: block;
  background-image: url(../../module/news-list/images/bg.png);
  background-repeat: repeat;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: $shadow-inset;

  @media (min-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .news-list-heading {
    @include transition;
    font-family: RobotoCondensed-Bold;
    color: $color-4;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 40px;
      margin-top: 20px;
      margin-bottom: 25px;
    }

    @media (min-width: 1280px) {
      font-size: 40px;
      line-height: 46px;
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }

  .wrap {
    @include clearfix();
    @media (min-width: 1024px) {
    }
  }

  news-item {
    width: 100%;

    @media (min-width: 600px) {
      @include calc(width, '50% - 10px');
      float: left;
      margin-right: 20px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: 1024px) {
      @include calc(width, '33.33% - 14px');
      float: left;
      margin-right: 20px;

      &:nth-child(2n) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}