<menu-main></menu-main>
<breadcrumb list="listBreadcrumb"></breadcrumb>
<div class="list-col-container wrap">
  <div class="list-col-main left">
    <news-list></news-list>
  </div>
  <div class="list-col-sidebar right col-sidebar-news-list">
    <widget>
      <widget-heading>
        <span><i class="fa fa-newspaper-o"></i>Tin tức nổi bật</span>
      </widget-heading>
      <widget-content>
        <news-widget data="newsTopList"></news-widget>
      </widget-content>
    </widget>

    <widget>
      <widget-heading>
        <span><i class="fa fa-tasks"></i>Sản phẩm nổi bật</span>
      </widget-heading>
      <widget-content class="list-document">
        <a ng-repeat="related in productRelated track by $index" ng-click="navigateRelated(related)"><i class="fa fa-angle-right"></i>{{related.baseInfo.name}}</a>
      </widget-content>
    </widget>
  </div>
</div>
<footer></footer>