app {
  display: block;
  width: 100%;
  min-height: 100%;
  background: $color-gray;

  > md-content {
    @include transition;
    padding-left: 0;
    background: transparent;
    padding-top: 60px;
    z-index: 20;
    position: relative;
    overflow: visible;

    &+md-content {
      display: none;
    }

    @media (min-width: 1280px) {
      padding-left: 270px;
      padding-top: 80px;
    }
  }

  &.show-menu-left {
    menu-left {
      left: 0;
      opacity: 1;

      .menu-left-overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.show-menu-right {
    menu-right {
      right: 0;
      opacity: 1;

      .menu-right-overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.hide-menu {
    menu-left {
      left: -270px;
      opacity: 0;
    }

    menu-right {
      right: -270px;
      opacity: 0;
    }

    > md-content {
      padding-left: 0;

      @media (min-width: 1280px) {
        padding-left: 0;
        padding-top: 60px;
      }
    }
  }

  menu-left, menu-right {
    z-index: 50;
  }
}

#fbplus-loading {
  display: none !important;
}