<div class="news-image" ng-click="navigateToDetail()" style="background-image: url('{{data.thumbnail}}')">
  <div class="news-info-head">
    <div class="info-tag">
      <div class="tag-item tag-{{tag.color}}" ng-repeat="tag in data.tagList">{{tag.value}}</div>
    </div>
  </div>
</div>
<div class="news-info">
  <a href="#" class="info-name" ng-click="navigateToDetail()">{{data.name}}</a>
  <div class="info-description">{{data.description}}</div>
</div>
<div class="news-extra">
  <div class="extra-comment left">
    {{data.category.title}}
  </div>
  <md-button class="extra-view right" ng-click="navigateToDetail()">Xem chi tiết</md-button>
</div>