news-item {
  @include radius(3px);
  @include transition();
  display: block;
  box-shadow: $shadow-1;
  background: $color-white;
  margin-bottom: 20px;

  &:hover {
    box-shadow: $shadow-2;
  }

  .news-image {
    position: relative;
    padding-top: 62.5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    .news-info-head {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 0;
      left: 0;
      z-index: 30;
      padding: 15px 15px 5px;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

      .info-tag {
        @include clearfix();
        .tag-item {
          @include radius(2px);
          width: auto;
          height: 20px;
          line-height: 20px;
          color: $color-white;
          padding: 0 7px;
          font-size: 11px;
          font-family: Roboto-Bold;
          background: $color-a;
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
          text-transform: uppercase;

          &.tag-red {
            background: $color-red;
          }

          &.tag-green {
            background: $color-green;
          }
        }
      }
    }
  }

  .news-info {
    padding: 15px;
    border-bottom: 1px solid $color-e;

    .info-name {
      font-family: RobotoCondensed-Bold;
      color: $color-2;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 5px;
      display: block;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info-description {
      font-size: 14px;
      color: $color-4;
      line-height: 20px;
      height: 40px;
      overflow: hidden;
    }
  }

  .news-extra {
    @include clearfix();
    padding: 15px;

    .extra-comment {
      color: $color-6;
      font-size: 14px;
      height: 36px;
      line-height: 36px;
    }

    .extra-view {
      color: $color-blue;
      margin: 0;
      padding: 0 10px;
    }
  }
}