statistic {
  display: block;
  background: $color-f;

  .wrap {
    @include clearfix();
  }

  .stat-item {
    padding: 40px 20px;
    width: 100%;
    text-align: center;
    color: $color-4;
    width: 100%;

    @media (min-width: 768px) {
      width: 33.33%;
      float: left;
      padding: 50px 20px;
    }

    @media (min-width: 1280px) {
      padding: 80px 0;
    }

      > * {
        color: inherit;
      }

    .item-icon {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 10px;
    }

    .item-title {
      font-size: 36px;
      font-family: RobotoCondensed-Bold;
      line-height: 40px;
      margin-bottom: 10px;
    }

    .item-description {
      font-family: RobotoCondensed-Regular;
      font-size: 20px;
    }
  }
}