<div class="wrap">
  <div class="stat-item">
    <i class="item-icon fa fa-home"></i>
    <div class="item-title">200+</div>
    <div class="item-description">Dự án đã đuợc giao dịch</div>
  </div>
  <div class="stat-item">
    <i class="item-icon fa fa-users"></i>
    <div class="item-title">50+</div>
    <div class="item-description">Nhân viên chuyên nghiệp</div>
  </div>
  <div class="stat-item">
    <i class="item-icon fa fa-home"></i>
    <div class="item-title">10Tỷ+</div>
    <div class="item-description">Giá trị giao dịch mỗi tháng</div>
  </div>
</div>