<div class="breadcrumb" style="background-image: url('./1000/module/breadcrumb/images/bg.jpg')">
  <div class="breadcrumb-list">
    <a href="{{item.link}}" class="breadcrumb-item" ng-repeat="item in list track by $index">{{item.title}}</a>
  </div>
</div>