breadcrumb {
  display: block;
  position: relative;

  .breadcrumb {
    width: 100%;
    height: auto;
    padding: 22px 20px;
    background-position: top center;
    background-size: cover;
    position: relative;
    text-align: center;

    @media (min-width: 768px) {
      padding: 17px 20px 16px;
    }

    @media (min-width: 1280px) {
      padding: 17px 20px 16px;
    }

    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.2);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
    }

    > * {
      position: relative;
      z-index: 50;
    }

    .breadcrumb-list {
      @include transition;
      font-family: RobotoCondensed-Bold;
      color: $color-white;
      font-size: 20px;
      line-height: 34px;
      text-align: center;
      width: 100%;
      text-shadow: $shadow-text;
      text-transform: capitalize;

      .breadcrumb-item {
        color: $color-white;

        &:after {
          display: inline-block;
          content: "/";
          margin: 0 10px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }

      @media (min-width: 768px) {
        font-size: 28px;
        line-height: 62px;
      }

      @media (min-width: 1280px) {
        font-size: 34px;
        line-height: 62px;
      }
    }
  }
}