@import "color";
@import "mixin";

html, body {
  background: $color-white;
}

.wrap {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}