
@font-face {
  font-family: "clarendon-light";
  src: url('../../style/font/clarendon-light.eot');
  src: url('../../style/font/clarendon-light.eot?#iefix') format('eot'),
       url('../../style/font/clarendon-light.woff2') format('woff2'),
       url('../../style/font/clarendon-light.woff') format('woff'),
       url('../../style/font/clarendon-light.ttf') format('truetype'),
       url('../../style/font/clarendon-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url('../../style/font/lato.eot');
  src: url('../../style/font/lato.eot?#iefix') format('eot'),
    url('../../style/font/lato.woff2') format('woff2'),
    url('../../style/font/lato.woff') format('woff'),
    url('../../style/font/lato.ttf') format('truetype'),
    url('../../style/font/lato.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}