.admin-product-detail {
  .base-info, .address-info , .price-info, .tag-info, .area-info, .filter-display, .filter-info, .image-item, .add-image-group, .document-item, .keyword-info {
    @include transition;
    @include radius(3px);
    @include clearfix;
    box-shadow: $shadow-1;
    background: $color-white;
    margin-bottom: 20px;

    &:hover {
      box-shadow: $shadow-2;
    }

    md-input-container {
      width: 100%;

      .md-errors-spacer {
        display: none
      }
    }
  }

  .base-info {
    .product-image {
      @include clearfix;
      width: 100%;

      @media (min-width: 768px) {
        width: 500px;
        float: left;
        padding: 20px 0 20px 20px;
      }

      .product-thumbnail {
        position: relative;
        background-size: cover;
        background-position: center;
        padding-top: 65%;

        &:hover {
          i {
            opacity: 1;
          }
        }

        &:after {
          position: absolute;
          display: block;
          content: "";
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100px;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        }

        .product-id {
          position: absolute;
          z-index: 10;
          bottom: 0;
          left: 0;
          font-size: 50px;
          line-height: 60px;
          padding: 0 10px;
          color: $color-white;
          text-shadow: $shadow-blur;
          opacity: 0.75;
        }

        i {
          @include transition;
          position: absolute;
          z-index: 20;
          width: 70px;
          height: 70px;
          bottom: 0;
          right: 0;
          color: $color-white;
          text-align: center;
          line-height: 70px;
          font-size: 40px;
          text-shadow: $shadow-1;
          opacity: 0;
          cursor: pointer;

          &:hover {
            text-shadow: $shadow-4;
          }
        }
      }
    }

    .product-name {
      position: relative;
      padding: 20px 20px 0;
      border-bottom: 1px solid $color-d;

      @media (min-width: 768px) {
        @include calc('width', '100% - 500px');
        float: right;
      }

      .action-switch {
        @include transition;
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 10;
        opacity: 0;
      }
    }

    .info-detail {
      padding: 20px 20px 0;

      @media (min-width: 768px) {
        @include calc('width', '100% - 500px');
        float: right;
      }
    }
  }

  .address-info {
    .map-image {
      @include clearfix;
      width: 100%;

      @media (min-width: 768px) {
        width: 500px;
        float: left;
        padding: 20px 0 20px 20px;
      }

      .map-thumbnail {
        background-size: cover;
        padding-top: 65%;
        width: 100%;
        background-position: center;
      }
    }

    .address-detail {
      width: 100%;
      padding: 20px;

      @media (min-width: 768px) {
        @include calc('width', '100% - 500px');
        float: right;
      }
    }
  }

  .price-info {
    padding: 20px 20px 0;

    md-input-container {
      @media (min-width: 768px) {
        @include calc('width', '33% - 14px');
        margin-right: 20px;
        float: left;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .tag-info {
    padding: 20px 20px 0;

    md-checkbox {
      width: 100%;

      @media (min-width: 768px) {
        width: auto;
        margin-right: 20px;
      }

      .md-label {
        cursor: pointer;
        span {
          @include radius(3px);
          padding: 0 7px;
          display: inline-block;
          background: $color-6;
          color: $color-f;
          line-height: 20px;
          height: 20px;
          font-size: 12px;
          text-transform: uppercase;

          &.red { background: $color-red; }
          &.green { background: $color-green; }
          &.blue { background: $color-blue; }
          &.orange { background: $color-orange; }
          &.cyan { background: $color-cyan; }
        }
      }
    }
  }

  .area-info {
    padding: 20px 20px 0;

    md-input-container {
      @include calc('width', '50% - 10px');
      margin-right: 20px;
      float: left;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .filter-display {
    padding: 20px 20px 0;

    md-input-container {
      @include calc('width', '50% - 10px');
      margin-right: 20px;
      float: left;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .filter-info {
    padding: 20px 20px 0;

    md-input-container {
      @include calc('width', '50% - 10px');
      margin-right: 20px;
      float: left;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .image-item {
    .image-heading {
      @include clearfix;
      padding: 10px 0 0;
      border-bottom: 1px solid $color-d;

      .image-id {
        width: 58px;
        height: 58px;
        line-height: 58px;
        text-align: center;
        font-size: 50px;
        color: $color-a;
        float: left;
      }

      md-input-container {
        @include calc('width', '100% - 160px');
        float: left;
        margin-bottom: 0;
      }

      md-switch {
        float: right;
        margin-right: 20px;
      }
    }

    .detail-list {
      @include clearfix;
      padding: 20px;
      border-bottom: 1px solid $color-d;

      .detail-item {
        @include radius(3px);
        margin-bottom: 20px;
        background-size: contain;
        background-position: center center;
        background-color: $color-e;
        background-repeat: no-repeat;
        padding-top: 65%;
        position: relative;

        @media (min-width: 768px) {
          @include calc('width', '50% - 10px');
          float: left;
          padding-top: 32.5%;

          &:nth-child(2n+1) {
            margin-right: 20px;
          }
        }

        &:hover {
          &:before {
            opacity: 1;
          }

          i {
            opacity: 1;
            margin-top: -50px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          @include transition;
          display: block;
          content: "";
          position: absolute;
          background: rgba(0,0,0,.75);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          opacity: 0;
        }

        i {
          @include transition;
          width: 100px;
          height: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: 0;
          margin-left: -50px;
          cursor: pointer;
          color: $color-white;
          font-size: 50px;
          text-align: center;
          line-height: 100px;
          z-index: 20;
          cursor: pointer;
          opacity: 0;
        }
      }

      .detail-text {
        text-align: center;
        width: 100%;
      }
    }

    .image-add {
      text-align: center;

      .md-button {}
    }
  }

  .add-image-group {
    text-align: center;
  }

  .group-document {
    @include clearfix;
  }

  .document-item {
    @media (min-width: 768px) {
      @include calc('width', '50% - 10px');
      float: left;

      &:nth-child(2n+1) {
        margin-right: 20px;
      }
    }

    &:hover {
      .document-image {
        i {
          opacity: 1;
        }
      }

      .document-detail {
        .action-switch {
          opacity: 1;
        }
      }
    }

    &.disabled {
      filter: grayscale(100%);
      opacity: 0.75;
    }

    .document-image {
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $color-e;
      padding-top: 100%;

      &:after {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      }

      .news-id {
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        font-size: 50px;
        line-height: 60px;
        padding: 0 10px;
        color: $color-white;
        text-shadow: $shadow-blur;
        opacity: 0.75;
      }

      i {
        @include transition;
        position: absolute;
        z-index: 20;
        width: 70px;
        height: 70px;
        bottom: 0;
        right: 0;
        color: $color-white;
        text-align: center;
        line-height: 70px;
        font-size: 40px;
        text-shadow: $shadow-1;
        opacity: 0;
        cursor: pointer;

        &:hover {
          text-shadow: $shadow-4;
        }
      }
    }

    .document-detail {
      position: relative;
      padding: 20px;

      .action-switch {
        @include transition;
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 10;
        opacity: 0;
      }

      .input-keyword {
        margin-bottom: 0;
        width: 100%;

        .md-errors-spacer {
          display: none;
        }
      }
    }
  }

  .keyword-info {
    padding: 20px;
  }
}