<admin-menu></admin-menu>
<div class="wrap admin-page admin-product-detail">
  <div class="admin-heading"><i class="fa fa-tasks"></i>Chỉnh sửa thông tin Dự án</div>
  <div class="admin-content width-footer product-edit">
    <!-- Base info -->
    <div class="base-info">
      <div class="product-image">
        <div class="product-thumbnail" style="background-image: url('{{product.baseInfo.thumbnail}}')">
          <div class="product-id">{{product.id}}</div>
          <i class="fa fa-upload" ng-click="uploadThumbnail()"></i>
        </div>
      </div>
      <div class="product-name">
        <md-input-container class="input-keyword">
          <label>Tên Dự án</label>
          <input ng-model="product.baseInfo.name">
        </md-input-container>
        <md-switch
          class="md-primary action-switch"
          ng-model="product.active"
          ng-click="changeActive()">
        </md-switch>
        <md-input-container class="input-keyword">
          <label>Đuờng dẫn web</label>
          <input ng-model="product.baseInfo.nameCode">
        </md-input-container>
      </div>
      <div class="info-detail">
        <md-input-container class="input-keyword">
          <label>Ngày đăng tin</label>
          <input ng-model="product.baseInfo.datePosted">
        </md-input-container>
        <md-input-container class="input-keyword">
          <label>Thông tin giới thiệu (ngắn gọn)</label>
          <input ng-model="product.baseInfo.description">
        </md-input-container>
      </div>
    </div>
    <!-- / Base info -->

    <!-- Address info -->
    <div class="address-info">
      <div class="map-image">
        <div class="map-thumbnail" ng-style="getMapThumbnail()"></div>
      </div>

      <div class="address-detail">
        <md-input-container class="input-keyword">
          <label>Địa chỉ</label>
          <input ng-model="product.baseInfo.address">
        </md-input-container>
        <md-input-container>
          <label>Chọn bản đồ</label>
          <md-select ng-model="product.baseInfo.mapBackground">
            <md-option ng-repeat="(key, map) in mapList track by $index" ng-value="map.id">
              {{map.title}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <!-- / Address info -->

    <!-- Price info -->
    <div class="price-info">
      <md-input-container class="input-keyword">
        <label>Giá (Bằng số) - {{formartNumberLocale(product.baseInfo.price.value)}}</label>
        <input ng-model="product.baseInfo.price.value">
      </md-input-container>
      <md-input-container class="input-keyword">
        <label>Giá (Bằng chữ)</label>
        <input ng-model="product.baseInfo.price.display">
      </md-input-container>
      <md-input-container class="input-keyword">
        <label>Khuyến mãi</label>
        <input ng-model="product.baseInfo.promotion">
      </md-input-container>
    </div>
    <!-- / Price info -->

    <!-- Tag info -->
    <div class="tag-info">
      <md-checkbox
        ng-repeat="(key, tag) in tagList track by $index"
        ng-checked="checkTag(tag)"
        ng-click="selectTag(tag)">
       <span class="{{tag.color}}">{{tag.title}}</span>
      </md-checkbox>
    </div>
    <!-- / Tag info -->

    <!-- area -->
    <div class="area-info">
      <md-input-container class="input-keyword">
        <label>Diện tích (Chi tiết)</label>
        <input ng-model="product.area.value">
      </md-input-container>
      <md-input-container class="input-keyword">
        <label>Diện tích (Tổng)</label>
        <input ng-model="product.area.shortText">
      </md-input-container>
    </div>
    <!-- / area -->

    <!-- filterDisplay -->
    <div class="filter-display">
      <md-input-container ng-repeat="(key, filter) in product.filterDisplay track by $index">
        <label>{{getFilterName(filter)}}</label>
        <md-select ng-model="filter.value">
          <md-option ng-repeat="(key, item) in getFilterList(filter) track by $index" ng-value="item.id">
            {{item.value}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <!-- / filterDisplay -->

    <!-- filterInfo -->
    <div class="filter-info">
      <md-input-container class="input-keyword" ng-repeat="(key, filter) in product.filterInfo track by $index">
        <label>{{filter.text}}</label>
        <input ng-model="filter.value">
      </md-input-container>
    </div>
    <!-- / filterInfo -->

    <!-- Image -->
    <div
      class="image-item"
      ng-repeat="(key, image) in product.images track by $index"
      ng-class="{'disabled' : ! image.active}">
      <div class="image-heading">
        <div class="image-id">{{image.id}}</div>
        <md-input-container class="input-keyword">
          <input ng-model="image.title">
        </md-input-container>
        <md-switch
          class="md-primary action-switch"
          ng-model="image.active"
          ng-click="changeActive(image)">
        </md-switch>
      </div>
      <div class="detail-list">
        <div
          class="detail-item"
          ng-repeat="(key, item) in image.list track by $index"
          style="background-image: url('{{item}}')">
          <i class="fa fa-trash" ng-click="delete(image, item)"></i>
        </div>
        <div
          class="detail-text"
          ng-if="image.list.length === 0">Không có hình ảnh đuợc tải lên</div>
      </div>
      <div class="image-add">
        <md-button ng-click="uploadImage(image)">Tải ảnh lên</md-button>
      </div>
    </div>
    <div class="add-image-group">
      <md-button ng-click="saveMap()">Thêm nhóm hình ảnh</md-button>
    </div>
    <!-- / Image -->

    <!-- Document -->
    <div class="group-document">
      <div
        class="document-item"
        ng-repeat="(key, document) in product.documents track by $index"
        ng-class="{'disabled' : ! document.active}">
        <div class="document-image" style="background-image: url('{{document.src}}')">
          <div class="news-id">{{document.id}}</div>
          <i class="fa fa-upload" ng-click="upload(document)"></i>
        </div>
        <div class="document-detail">
          <md-input-container class="input-keyword">
            <label>Tên tài liệu</label>
            <input ng-model="document.title">
          </md-input-container>
          <md-switch
            class="md-primary action-switch"
            ng-model="document.active"
            ng-click="changeActive(document)">
          </md-switch>
        </div>
      </div>
    </div>
    <div class="add-image-group">
      <md-button ng-click="saveMap()">Thêm nhóm Tài liệu</md-button>
    </div>
    <!-- / Document -->

    <!-- Keyword -->
    <div class="keyword-info">
      <md-chips ng-model="product.keyword"></md-chips>
    </div>
    <!-- / Keyword -->

    <form class="hide">
      <input type="file" file-model="myFile" onchange="angular.element(this).scope().submit()" id="inputUpload"/>
      <input type="submit" value="Upload File" ng-click="submit($event)" />
    </form>
  </div>

  <div class="admin-footer">
    <md-button ng-click="saveProduct()"><i class="fa fa-save"></i>Lưu</md-button>
  </div>
</div>