keyword-widget {
  display: block;
  padding-top: 10px;

  a {
    @include transition();
    @include radius(2px);
    display: inline-block;
    font-family: Roboto-Medium;
    color: $color-2;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    background-color: $color-f;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: $color-e;
      color: $color-blue;
    }
  }
}