menu-main {
  @include transition;
  display: block;
  width: 100%;
  height: 60px;
  background: $color-blue;
  box-shadow: $shadow-1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  @media (min-width: 1280px) {
    height: 80px;
  }

  > .left {
    display: block;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .search-toggle, .nav-mobile {
    @include transition;
    width: 36px;
    min-width: 36px;
    padding: 0;
    height: 36px;
    background: $color-blue;
    color: $color-white;
    font-size: 16px;
    border: 1px solid $color-white;
    box-shadow: none;
    opacity: .75;

    &:hover {
      opacity: 1;
    }

  }

  .search-toggle {
    margin: 12px 0 0 12px;
    line-height: 34px;
  }

  .nav-mobile {
    margin: 12px 12px 0 0;
    float: right;
    line-height: 34px;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .logo-text {
    font-family: Roboto-Bold;
    font-size: 20px;
    text-transform: uppercase;
    color: $color-white;
    margin: 12px 0 0 10px;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;

    img {
      margin-top: 8px;
      margin-right: 8px;
      max-height: 28px;
      width: auto;
    }
  }

  nav {
    border-right: 1px solid rgba(255,255,255,.1);
    padding-right: 20px;
    display: none;

    .md-button {
      @include transition;
      @include radius(0);
      margin: 0;
      padding: 0 10px;
      height: 80px;
      line-height: 80px;
      font-family: RobotoCondensed-Bold;
      font-size: 18px;
      color: rgba(255,255,255,.75);
      position: relative;

      @media (min-width: 1280px) {
        padding: 0 20px;
      }

      &:before {
        @include transition;
        @include transformTranslate(-50%, 0);
        position: absolute;
        display: block;
        content: "";
        height: 2px;
        background: $color-white;
        width: 0;
        top: 0;
        left: 50%;
        opacity: 0;
      }

      &:hover {
        color: $color-white;

        &:before {
          opacity: 1;
          width: 100%;
        }
      }

      span {
        line-height: inherit;
        display: inline-block;
      }
    }

    @media (min-width: 1280px) {
      display: block;
    }
  }

  .social-header {
    padding: 12px;
    display: none;

    @media (min-width: 500px) {
      display: block;
    }

    @media (min-width: 1280px) {
      padding-top: 20px;
    }

    .md-button {
      margin: 0;
      padding: 0;
      width: 36px;
      height: 36px;
      min-width: 36px;
      color: rgba(255,255,255,.75);

      @media (min-width: 1280px) {
        height: 40px;
        width: 40px;
      }

      &:hover {
        color: $color-white;
      }
    }
  }
}