<div class="left">
  <md-button class="search-toggle" ng-click="openMenuLeft()">
    <i class="fa fa-search"></i>
  </md-button>

  <md-button class="logo-text" href="/">
    BĐS Văn Minh
  </md-button >
</div>
<div class="right">
  <nav class="left">
    <md-button href="/">Trang chủ</md-button>
    <md-button href="/gioi-thieu">Giới thiệu</md-button>
    <md-button href="/danh-sach-du-an">Dự án</md-button>
    <md-button href="/tin-tuc">Tin tức</md-button>
    <md-button href="/tuyen-dung">Tuyển dụng</md-button>
    <md-button href="/lien-he">Liên hệ</md-button>
  </nav>
  <div class="social-header left">
    <md-button href="https://www.facebook.com/bat.dong.san.van.minh/">
      <i class="fa fa-facebook"></i>
    </md-button>
    <md-button href="https://www.facebook.com/bat.dong.san.van.minh/">
      <i class="fa fa-youtube"></i>
    </md-button>
    <md-button href="https://www.facebook.com/bat.dong.san.van.minh/">
      <i class="fa fa-pinterest"></i>
    </md-button>
  </div>
  <md-button class="nav-mobile" ng-click="openMenuRight()">
    <i class="fa fa-bars"></i>
  </md-button>
</div>