.home-container(ng-class="{'show-menu' : showMenu}")
  .home-map
    #map
  .home-product-list
    .list-header Dự án Đang mở bán
    .list-detail
      .list-item(ng-repeat="(key, product) in productList track by $index")
        .info-left
          .product-image(style="background-image: url('{{product.baseInfo.thumbnail}}')")
            .product-id {{product.id}}
          .product-price
            .price-value {{product.baseInfo.price.display}}
        .info-right
          .info-name {{product.baseInfo.name}}
          .info-filter
            .filter-item
              .filter-header Địa chỉ:
              .filter-value {{product.baseInfo.addressSort}}
            .filter-item
              .filter-header Diện tích:
              .filter-value {{product.area.value}}
            .filter-item
              .filter-header Quà tặng:
              .filter-value {{product.baseInfo.promotion}}
  .home-filter
