@import "../../style/scss/color";
@import "../../style/scss/mixin";

home {
  display: block;
  position: relative;
  z-index: 50;

  .home-container {
    display: flex;
    justify-content: flex-end;

    &.show-menu {
      filter: blur(10px);
    }

    .home-map {
      display: none;

      @media (min-width: 1024px) {
        flex:10;
        display: block;
        height: 100vh;
        background: $color-f0;
        width: calc(100% - 350px);
        position: fixed;
        left: 0;
      }

      #map {
        width: 100%;
        height: 100%;
      }
    }

    .home-product-list {
      @media (min-width: 1024px) {
        max-width: 350px;
        border-left: 1px solid $color-e;
        padding-top: 60px;
      }

      .list-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: $color-blue;
        color: rgba(255, 255, 255, .89);
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'avenir-next-regular';
        box-shadow:0 0 0 4px #2676B9 inset, 0 0 0 5px rgba(255,255,255,.5) inset;

        @media (min-width: 1024px) {
          width: 350px;
          height: 60px;
          line-height: 60px;
          font-size: 16px;
          position: fixed;
          z-index: 90;
          top: 0;
          right: 0;
        }
      }

      .list-detail {
        display: flex;
        flex-wrap: wrap;

        .list-item {
          padding: 10px;
          border-bottom: 1px solid $color-e;
          display: flex;
          position: relative;
          width: 100%;
          cursor: pointer;

          @media (min-width: 768px) and (max-width: 1023px) {
            width: 50%
          }

          &:hover {
            .info-left {
              .product-image {
                .product-id {
                  transform: scale(1);
                  opacity: 1;
                }
              }
            }
          }

          .info-left {
            width: 100px;
            position: relative;
            z-index: 50;

            .product-image {
              width: 100px;
              height: 100px;
              background-position: center;
              background-size: cover;
              border-radius: 3px;
              margin-bottom: 10px;
              position: relative;
              overflow: hidden;

              .product-id {
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                color: $color-e;
                font-family: 'avenir-next-bold';
                font-size: 45px;
                position: absolute;
                top: 0;
                right: 0;
                background: $color-blue;
                transform: scale(1.5);
                transition: 0.5s all ease 0s;
                opacity: 0;
              }
            }

            .product-price {
              display: flex;
              justify-content: center;

              .price-header {
                color: $color-red;
                height: 24px;
                line-height: 24px;
                margin-right: 3px;
              }

              .price-value {
                color: $color-red;
                font-family: 'avenir-next-bold';
                height: 24px;
                line-height: 24px;
                font-size: 17px;
              }
            }
          }

          .info-right {
            flex: 10;
            padding-left: 10px;
            position: relative;
            z-index: 50;

            .info-name {
              font-family: 'avenir-next-bold';
              font-size: 14px;
              line-height: 20px;
              color: $color-blue;
              margin-bottom: 10px;
            }

            .info-filter {
              .filter-item {
                display: flex;
                margin-bottom: 5px;

                .filter-header {
                  width: 80px;
                  min-width: 80px;
                  color: $color-9;
                  font-size: 14px;
                  line-height: 20px;
                }

                .filter-value {
                  color: $color-4;
                  font-family: 'avenir-next-demi-bold';
                  font-size: 14px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
