.header-content
  .heading CREATE YOUR OWN TEA ROSE DESIGN
  .logo
.image-rotate-component
  .image-list
    .image-item(
      ng-repeat="product in productList track by $index",
      data-item="{{product.item}}",
      data-id="{{product.id}}",
      ng-click="rotateImage(product)",
      ng-class="{'focus': 1 === product.focus, 'hide': 2 === product.focus}",
      style="background-image: url({{product.thumbnail}})"
    )
      .image-item-opacity(style="background-image: url({{product.thumbnailOpacity}})")
  .image-nav
    .nav-left(ng-click="slideImage('left')")
    .nav-right(ng-click="slideImage('right')")
.footer-content
  .description CHOOSE YOUR BAG SILHOUETTE
  .button(ng-click="naviagteManage()", ng-class="{'disabled': disabledProduct()}") SELECT THE {{getProductSelected()}}
