<admin-menu></admin-menu>
<div class="wrap admin-page admin-map">
  <div class="admin-heading"><i class="fa fa-map-o"></i>Quản lý Bản đồ</div>
  <div class="admin-content width-footer map-list">
    <div
      class="map-item"
      ng-repeat="(key, map) in dataMap track by $index"
      ng-class="{'disabled' : ! map.active}">
      <div class="map-image" style="background-image: url('{{map.thumbnail}}')">
        <div class="news-id">{{map.id}}</div>
        <i class="fa fa-upload" ng-click="upload(map)"></i>
      </div>
      <div class="map-detail">
        <md-input-container class="input-keyword">
          <label>Tên bản đồ</label>
          <input ng-model="map.title">
        </md-input-container>
        <md-switch
          class="md-primary action-switch"
          ng-model="map.active"
          ng-click="changeActive(map)">
        </md-switch>
      </div>
    </div>

    <form class="hide">
      <input type="file" file-model="myFile" onchange="angular.element(this).scope().submit()" id="inputUpload"/>
      <input type="submit" value="Upload File" ng-click="submit($event)" />
    </form>
  </div>

  <div class="admin-footer">
    <md-button ng-click="addNewMap()"><i class="fa fa-plus"></i>Thêm Bản đồ</md-button>
    <md-button ng-click="saveMap()"><i class="fa fa-save"></i>Lưu</md-button>
  </div>
</div>