.product-detail-map {
  display: block;
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  box-shadow: $shadow-1;
  position: relative;
}

.product-detail-container {
  @include clearfix();

  &.list-col-container {
    .list-col-main {
      background: $color-white;

      @media (min-width: 960px) {
        float: right;
        background: transparent;
        padding: 20px;
      }
    }

    .list-col-sidebar {
      @media (min-width: 960px) {
        float: left;
        padding-right: 0;
        padding-left: 20px;
        padding-top: 20px;
      }
    }
  }

  .product-inner-container {
    margin-bottom: 20px;

    @media (min-width: 960px) {
      @include radius(3px);
      @include transition();
      display: block;
      width: 100%;
      background: $color-white;
      box-shadow: $shadow-1;
    }
  }

  .breadcrumb-list {
    padding: 15px 20px;

    .breadcrumb-item {
      font-size: 14px;
      color: $color-blue;
      line-height: 20px;
      font-family: Roboto-Regular;

      &:after {
        display: inline-block;
        content: "/";
        width: 20px;
        text-align: center;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .product-name {
    font-family: RobotoCondensed-Bold;
    color: $color-2;
    font-size: 22px;
    line-height: 30px;
    position: relative;
    z-index: 20;
    padding: 0 20px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 32px;
    }

    @media (min-width: 960px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media (min-width: 1024px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .product-control-heading {
    @include clearfix();
    padding: 0 20px;
    margin-bottom: 20px;

    .product-price {
      @include radius(3px);
      font-family: RobotoCondensed-Bold;
      color: $color-red;
      font-size: 22px;
      line-height: 30px;
      position: relative;
      z-index: 20;
      padding: 0 7px;
      border: 3px solid $color-red;
      float: left;

      @media (min-width: 768px) {
        font-size: 24px;
        line-height: 32px;
      }

      @media (min-width: 960px) {
        font-size: 28px;
        line-height: 36px;
      }

      @media (min-width: 1024px) {
        font-size: 32px;
        line-height: 40px;
      }
    }

    .product-print {
      line-height: 30px;
      font-size: 18px;
      color: $color-4;
      float: right;
      font-family: Roboto-Bold;
      color: $color-red;

      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 32px;
      }

      @media (min-width: 960px) {
        font-size: 16px;
        line-height: 36px;
      }

      @media (min-width: 1024px) {
        font-size: 18px;
        line-height: 40px;
      }

      .fa {}

      span {}
    }
  }

  .product-table-info {
    @include clearfix();
    padding: 0 20px;
    margin-bottom: 20px;

    .info-address {
      font-size: 14px;
      line-height: 20px;
      font-family: Roboto-Bold;
      color: $color-blue;
      margin-bottom: 10px;
    }

    .info-filter-table {
      .filter-product-detail {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 768px) {
          @include calc(width, '50% - 10px');
          float: left;
        }
      }

      .filter-product-info {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 768px) {
          @include calc(width, '50% - 10px');
          float: right;
        }
      }

      .filter-item {
        border-bottom: 1px dashed $color-c;
        margin-bottom: 5px;

        @include clearfix();
        > * {
          font-size: 14px;
          line-height: 20px;
          color: $color-4;
        }

        .filter-heading {
          float: left;
          font-family: Roboto-Medium;
        }

        .filter-value {
          float: right;
          font-family: Roboto-Regular;
        }
      }
    }
  }

  .product-description {
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto-Regular;
    text-align: justify;
    padding: 0 20px;
    color: $color-4;
    margin-bottom: 20px;

    > * {
      margin-bottom: 10px;
    }
  }

  .product-tag {
    padding: 15px 20px;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }

    .tag-item {
      @include radius(3px);
      font-family: Roboto-Medium;
      font-size: 14px;
      line-height: 20px;
      text-align: justify;
      display: inline-block;
      color: $color-6;
      background: $color-d;
      padding: 0 7px;
      margin-right: 5px;
      margin-bottom: 5px;

      &:first-child {
        color: $color-blue;
        background: transparent;
      }
    }
  }

  .product-social-bottom {
    padding: 0 20px 20px;
    display: block;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }

    > * {
      @include radius(3px);
      font-size: 14px;
      min-width: 36px;
      width: 36px;
      height: 36px;
      color: $color-white;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @media (min-width: 768px) {
        width: auto;
        padding: 0 12px;
        height: 30px;
        min-height: 30px;
        line-height: 30px;
      }

      span {
        display: none;

        @media (min-width: 768px) {
          display: inline-block;
          margin-left: 5px;
          text-transform: capitalize;
        }
      }
    }

    .social-fb {
      background: $color-fb;
    }

    .social-yt {
      background: $color-yt;
    }

    .social-pt {
      background: $color-orange;
    }
  }
}