<menu-main></menu-main>
<div class="product-detail-map" style="background-image: url({{mapInfo.thumbnail}})"></div>
<div class="product-detail-container list-col-container wrap">
  <div class="list-col-main">
    <div class="product-inner-container">
      <div class="product-breacrum breadcrumb-list">
        <a href="{{item.link}}" class="breadcrumb-item" ng-repeat="item in listBreadcrumb track by $index">{{item.title}}</a>
      </div>

      <div class="product-name">
        {{data.baseInfo.name}}
      </div>

      <div class="product-control-heading">
        <div class="product-price">{{data.baseInfo.price.display}}</div>
        <div class="product-print">
          <i class="fa fa-gift"></i>
          <span>Quà tặng: {{data.baseInfo.promotion}}</span>
        </div>
      </div>

      <div class="product-table-info">
        <div class="info-address">
          <i class="fa fa-map-marker"></i>
          {{data.baseInfo.address}}
        </div>
        <div class="info-filter-table">
           <div class="filter-product-detail">
             <div class="filter-item" ng-repeat="item in filterListProduct track by $index">
               <span class="filter-heading">{{item.title}}</span>
               <span class="filter-value">{{item.value}}</span>
             </div>
           </div>
           <div class="filter-product-info">
             <div class="filter-item" ng-repeat="item in data.filterInfo track by $index">
               <span class="filter-heading">{{item.textHeading}}</span>
               <span class="filter-value">{{item.value}}</span>
             </div>
           </div>
        </div>
      </div>

      <div class="product-description">
        {{data.content}}
      </div>

      <div class="product-social-bottom">
        <md-button class="social-fb" href="https://www.facebook.com/bat.dong.san.van.minh/">
          <i class="fa fa-facebook"></i>
          <span>facebook</span>
        </md-button><md-button class="social-yt" href="https://www.facebook.com/bat.dong.san.van.minh/">
          <i class="fa fa-youtube"></i>
          <span>you tube</span>
        </md-button><md-button class="social-pt" href="https://www.facebook.com/bat.dong.san.van.minh/">
          <i class="fa fa-pinterest"></i>
          <span>pinterest</span>
        </md-button>
      </div>
    </div>

    <product-image data="data.images"></product-image>
  </div>
  <div class="list-col-sidebar">
    <widget>
      <widget-heading>
        <span><i class="fa fa-users"></i>Liên hệ</span>
      </widget-heading>
      <widget-content class="list-document">
        <a><i class="fa fa-phone"></i>0169 315 4067</a>
        <a><i class="fa fa-envelope"></i>email@batdongsanvanminh.com</a>
      </widget-content>
    </widget>

    <widget ng-if="data.download !== ''">
      <widget-heading>
        <span><i class="fa fa-file-text-o"></i>Văn bản Pháp lý</span>
      </widget-heading>
      <widget-content class="list-document">
        <a class="download-all-document" ng-click="downloadDocument()" title="Tải về">
          <i class="fa fa-download"></i>
          Tải về Tất cả Văn bản Pháp lý
        </a>
        <a ng-repeat="file in data.documentsList track by $index" title="Xem ảnh" ng-click="openGallery(file)"><i class="fa fa-{{file.icon}}"></i>{{file.title}}</a>
      </widget-content>
    </widget>

    <widget>
      <widget-heading>
        <span><i class="fa fa-tag"></i>Từ khoá nổi bật</span>
      </widget-heading>
      <widget-content class="list-keyword">
        <a ng-repeat="keyword in data.keyword track by $index">{{keyword}}</a>
      </widget-content>
    </widget>

    <widget>
      <widget-heading>
        <span><i class="fa fa-tasks"></i>Sản phẩm khác</span>
      </widget-heading>
      <widget-content class="list-document">
        <a ng-repeat="related in productRelated track by $index" ng-click="navigateRelated(related)"><i class="fa fa-angle-right"></i>{{related.baseInfo.name}}</a>
      </widget-content>
    </widget>
  </div>
</div>
<footer></footer>