.left
  .color-list(ng-class="{'active' : getActiveTabLeft(1)}")
    .color-item(ng-repeat="color in productColor track by $index", ng-class="{'hide' : color.hide, 'active' : color.active}", ng-click="selectColor(color)")
      .color-circle(style="background-color: {{color.color}}")
      .color-name {{color.title}}
  .style-list(ng-class="{'active' : getActiveTabLeft(2)}")
    .style-panel(ng-class="{'scroll-1' : 1 === stateNavigateStyle, 'scroll-2' : 2 === stateNavigateStyle}")
      .style-item(ng-repeat="style in productStyle track by $index", ng-class="{'active' : style.active}", ng-click="selectStyle(style)")
        .style-background(style="background-image:url({{getThumbnailStyle(style)}})")
    .style-nav
      .nav-top(ng-click="navigateStyle('top')", ng-class="{'disabled' : disabledNavigateStyle('top')}")
      .nav-down(ng-click="navigateStyle('down')", ng-class="{'disabled' : disabledNavigateStyle('down')}")
  .flower-list(ng-class="{'active' : getActiveTabLeft(3)}")
    .flower-item(ng-repeat="flower in productFlower track by $index", style="{{getFlowerBackground(flower)}}", ng-click="flowerSelect(flower)", ng-class="{'disabled' : !disableFlower(flower)}")
    .flower-description.description-large Large
    .flower-description.description-medium Medium
    .flower-description.description-small Small
.center
  .bag-info
    .heading My {{productSelected.title}}
    .tagline TEA ROSE
  .bag-config
    .config-product#config-product
      .product-list-color(style="background-image: url({{getConfigProductColor('white')}})")
      .product-list-color(ng-repeat="color in productSelected.color track by $index", style="background-image: url({{getConfigProductColor(color)}})", ng-class="{'hide' : hideConfigProductColor(color)}")
      .config-flower(ng-repeat="flower in styleFlower track by $index", style="{{getFlowerStyle(flower)}}", ng-class="{'large' : 'large' === flower.type, 'medium' : 'medium' === flower.type, 'small' : 'small' === flower.type}")
        .config-flower-item(style="{{getFlowerItemStyle(flower, 'dot')}}", ng-class="{'hide' : hideFlowerItem(flower, 'dot')}")
        .config-flower-item(style="{{getFlowerItemStyle(flower, 'line')}}", ng-class="{'hide' : hideFlowerItem(flower, 'line')}")
        .config-flower-item(style="{{getFlowerItemStyle(flower, 'real')}}", ng-class="{'hide' : hideFlowerItem(flower, 'real')}")
        .config-flower-item-clickable(style="{{getFlowerItemStyle(flower, 'dot')}}", ng-click="flowerConfigChange(flower)")
.right(ng-class="{'disabled' : showSendPanel}")
  .step-list(ng-class="{'disabled' : showAboutPanel}")
    .step-heading Your Selection
    .step-list-group
      .step-item(ng-repeat="step in stepList track by $index", ng-class="{'active' : true === step.focus, 'disabled' : -1 === step.status, 'completed' : 1 === step.status}", ng-click="changeStep(step)")
        .step-icon(style="background-image: url({{getIconStep(step)}})")
        .step-info
          .info-title {{step.title}}
            .icon-check
          .info-description(ng-if="true === step.focus") {{step.description}}
          .info-selected(ng-if="1 === step.status && false === step.focus") {{step.value}}
  .action
    .about-tearose(ng-class="{'active' : showAboutPanel}", ng-click="toggleAboutPanel()") ABOUT COACH TEA ROSE
      .icon
    .save-config(ng-class="{'disabled' : disableSave() || showAboutPanel}", ng-click="toogleSendPanel(true)") Save and Submit
    .back-to-home(ng-class="{'disabled' : showAboutPanel}", ng-click="navigateToHome()") Back to bag selection
.about-panel(ng-class="{'active' : showAboutPanel}")
  .panel-left
    .about-title THE TEA ROSE
    .about-text Originally inspired by fields of wildflower on road trips out west, our Tea Rose Appliqué is a celebration of vintage Americana as well as our brand’s legacy of leather craftsmanship. Using techniques perfected in Coach’s New York Workshop, each flower is die-cut, debossed, printed, edge-painted and then attached to the bag with a rivet or stud—all by hand.
    img.about-img(src="../../style/image/asset/about-img-1.jpg")
    .about-img-description Each leather bloom is attached to the bag with a rivet or stud—one at a time.
  .panel-right
    img.about-img(src="../../style/image/asset/about-img-2.jpg")
    .about-img-description Every tea rose is die-cut, embossed, printed and edge—painted before it is applied to the bag.
    img.about-img(src="../../style/image/asset/about-img-3.jpg")
    .about-img-description Coach artisans customize select bags with unique tea rose designs—a labor of love that requires intricate handwork.

.send-panel(ng-class="{'active' : showSendPanel}")
  .send-panel-inner
    .loading-popup
    .confirmation-popup
      .send-title.title-small Coach Tea Rose Design
      .send-description.description-small Thank you. <br />Your Coach Tea Rose design has been submitted.
      .send-form
        .send-action.center
          .button-submit(ng-click="toogleSendPanel()") close window
    .send-content
      .send-title Coach Tea Rose Design
      form.send-form(name="infoForm")
        .form-group
          .radio-container(ng-click="togglePurchase()")
            input(
              type="checkbox",
              ng-model="infoCheck.purchase",
              value="purchase"
            )
            i.radio-icon
            .radio-label Purchase
          .radio-container(ng-click="toggleShip()", ng-class="{'disabled' : disabledCheckboxShip()}")
            input(
              type="checkbox",
              ng-model="infoCheck.ship",
              value="ship"
            )
            i.radio-icon
            .radio-label Ship
        .form-group
          .form-title Associate ID*
          input(
            ng-model="info.infoAssociateId",
            name="infoAssociateId",
            ng-focus="infoAssociateIdFocus = true",
            ng-blur="infoAssociateIdFocus = false",
            ng-class="{'error' : infoForm.infoAssociateId.$dirty && '' === info.infoAssociateId}"
          )
          .form-error(ng-if="!infoAssociateIdFocus && infoForm.infoAssociateId.$touched && '' === info.infoAssociateId") Please input require field
        .form-group
          .form-title First Name*
          input(
            ng-model="info.customerFirstName",
            name="customerFirstName",
            ng-focus="customerFirstFocus = true",
            ng-blur="customerFirstFocus = false",
            ng-class="{'error' : infoForm.customerFirstName.$dirty && '' === info.customerFirstName}"
          )
          .form-error(ng-if="!customerFirstFocus && infoForm.customerFirstName.$touched && '' === info.customerFirstName") Please input require field
        .form-group
          .form-title Last Name*
          input(
            ng-model="info.customerLastName",
            name="customerLastName",
            ng-focus="customerLastFocus = true",
            ng-blur="customerLastFocus = false",
            ng-class="{'error' : infoForm.customerLastName.$dirty && '' === info.customerLastName}")
          .form-error(ng-if="!customerLastFocus && infoForm.customerLastName.$touched && '' === info.customerLastName") Please input require field
        .form-group
          .form-title Email
          input(
            type="email",
            ng-model="info.customerEmail",
            name="customerEmail",
          )
        .form-group
          .form-title Phone Number
          input.first(readonly=true, value="+1")
          input.last(
            ng-model="info.customerPhone",
            name="customerPhone",
            type="number",
          )
        .form-group
          .form-title Shipping Address
          input(
            ng-model="info.infoShippingAddress",
            name="infoShippingAddress",
          )
      .send-action
        .button-cancel(ng-click="toogleSendPanel()") Cancel
        .button-submit(ng-class="{'disabled': disableSubmit()}", ng-click="submitForm()") Submit
