@import "../../style/scss/color";
@import "../../style/scss/mixin";

manage {
  @include clearfix;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  @keyframes          animation-show-left-selection { 0% {opacity: 0; left: -60px;} 100% {opacity: 1; left: 0px;} }
  @-ms-keyframes      animation-show-left-selection { 0% {opacity: 0; left: -60px;} 100% {opacity: 1; left: 0px;} }
  @-o-keyframes       animation-show-left-selection { 0% {opacity: 0; left: -60px;} 100% {opacity: 1; left: 0px;} }
  @-webkit-keyframes  animation-show-left-selection { 0% {opacity: 0; left: -60px;} 100% {opacity: 1; left: 0px;} }
  @-moz-keyframes     animation-show-left-selection { 0% {opacity: 0; left: -60px;} 100% {opacity: 1; left: 0px;} }

  .left {
    width: 218px;
    height: 100%;
    float: left;
    position: relative;

    animation               : animation-show-left-selection 0.5s linear;
    -o-animation            : animation-show-left-selection 0.5s linear;
    -ms-animation           : animation-show-left-selection 0.5s linear;
    -webkit-animation       : animation-show-left-selection 0.5s linear;
    -moz-animation          : animation-show-left-selection 0.5s linear;

    .color-list {
      transition: 0.5s all ease 0s;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: -120%;
      opacity: 0;
      padding: 12px 0 0 12px;

      &.active {
        left: 0;
        opacity: 1;
      }

      .color-item {
        width: 94px;
        height: (($MAX_HEIGHT - 12 * 2) - 7 * 6 ) / 8;
        cursor: pointer;
        background: $color-e;
        float: left;
        margin-right: 6px;
        margin-bottom: 6px;
        position: relative;

        &.active {
          .color-circle {
            border-color: #302d2b;
          }
        }

        &.hide {
          * {
            display: none;
          }
        }

        .color-circle {
          transition: 0.5s all ease 0s;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 3px solid $color-white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: -8px;
        }

        .color-name {
          position: absolute;
          width: 100%;
          height: 28px;
          line-height: 28px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 11px;
          left: 0;
          bottom: 0;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    .style-list {
      transition: 0.5s all ease 0s;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: -120%;
      opacity: 0;
      padding: 12px;

      &.active {
        left: 0;
        opacity: 1;
      }

      &:after {}

      .style-panel {
        background: $color-e;
        width: 100%;
        min-height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0;
        transition: 0.5s all ease 0s;

        &.scroll-1 {
          margin-top: -173px;
        }

        &.scroll-2 {
          margin-top: -362px;
        }

        &:before {
          display: block;
          content: "";
          width: 100%;;
          height: 12px;
          position: absolute;
          left: 0;
          top: 0;
          background: $color-white;
          z-index: 100;
        }

        &:after {
          display: block;
          content: "";
          width: 100%;;
          height: 12px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: $color-white;
          z-index: 100;
        }

        .style-item{
          width: 162px;
          height: 162px;
          margin-left: 16px;
          cursor: pointer;
          position: relative;
          margin-bottom: 17px;

          &:after {
            transition: 0.3s all ease 0s;
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: $color-white;
            width: 30px;
            height: 30px;
            opacity: 0;
          }

          &.active {
            &:after {
              width: 162px;
              height: 162px;
              opacity: 1;
            }
          }

          .style-background {
            width: 162px;
            height: 162px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            z-index: 10;
            transform: scale(0.75);
          }
        }
      }

      .style-nav {
        position: absolute;
        z-index: 1000;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;

        &:before, &:after {
          display: block;
          content: "";
          width: 220px;
          height: 38px;
          position: absolute;
        }

        &:before {
          top: 0;
          left: 0;
        }

        &:after {
          bottom: 0;
          left: 0;
        }

        > * {
          transition: 0.5s all ease 0s;
          width: 34px;
          height: 34px;
          background-image: url('../../style/image/asset/arrow.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          left: 92px;
          border-radius: 50%;
          cursor: pointer;
          z-index: 1000;

          &.disabled {
            pointer-events: none;
            opacity: 0.5;
          }

          :hover{
            &:hover {
              opacity: 0.75;
            }
          }
        }

        .nav-top {
          top: 3px;
          transform: rotate(90deg);
        }
        .nav-down {
          bottom: 3px;
          transform: rotate(-90deg);
        }
      }
    }

    .flower-list {
      transition: 0.5s all ease 0s;
      position: absolute;
      width: 250px;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: -120%;
      opacity: 0;
      padding: 10px 0 0 10px;

      &.active {
        left: 0;
        opacity: 1;
      }

      .flower-item {
        width: 97px;
        height: 85px;
        margin-right: 7px;
        margin-bottom: 7px;
        background: $color-e;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        &.disabled {
          &:after {
            opacity: 0.5;
          }
        }

        &:after {
          display: block;
          content: "";
          transition: 0.5s all ease 0s;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: $color-e;
          opacity: 0;
        }
      }

      .flower-description {
        @include fontBodyText;
        text-transform: uppercase;
        text-align: center;
        font-size: 10px;
        line-height: 30px;
        line-height: 30px;
        color: $color-6;
        position: absolute;
        transform: rotate(90deg);
        top: 0;
        left: 220px;

        &:after {
          display: block;
          content: "";
          width: 100%;
          height: 5px;
          position: absolute;
          left: 0;
          bottom: 0;
          border-top: 1px solid $color-a;
          border-left: 1px solid $color-a;
          border-right: 1px solid $color-a;
        }

        &.description-large {
          top: 84px;
          width: 168px;
          left: 148px;
        }

        &.description-medium {
          top: 360px;
          width: 352px;
          left: 56px;
        }

        &.description-small {
          top: 636px;
          width: 166px;
          left: 149px;
        }
      }
    }
  }

  .center {
    width: 585px;
    height: 100%;
    float: left;

    .bag-info {
      width: 100%;
      padding-top: 15px;

      animation         : animation-show-heading 0.4s linear both;
      -o-animation      : animation-show-heading 0.4s linear both;
      -ms-animation     : animation-show-heading 0.4s linear both;
      -webkit-animation : animation-show-heading 0.4s linear both;
      -moz-animation    : animation-show-heading 0.4s linear both;

      .heading {
        @include fontTitle;
        color: $color-black;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 28px;
        position: relative;
        text-transform: uppercase;

        &:after {
          background: $color-4;
          width: 44px;
          height: 2px;
          display: block;
          content: "";
          bottom: 0;
          left: 50%;
          margin-left: -22px;
          position: absolute
        }
      }
      .tagline {
        @include fontTitle;
        width: 100%;
        height: 44px;
        line-height: 44px;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
      }
    }

    @keyframes          animation-show-config { 0% {opacity: 0; } 100% {opacity: 1; } }
    @-ms-keyframes      animation-show-config { 0% {opacity: 0; } 100% {opacity: 1; } }
    @-o-keyframes       animation-show-config { 0% {opacity: 0; } 100% {opacity: 1; } }
    @-webkit-keyframes  animation-show-config { 0% {opacity: 0; } 100% {opacity: 1; } }
    @-moz-keyframes     animation-show-config { 0% {opacity: 0; } 100% {opacity: 1; } }

    .bag-config {
      height: 500ex;
      width: 100%;
      padding-top: 45px;

      animation                : animation-show-config 0.4s linear both;
      -o-animation             : animation-show-config 0.4s linear both;
      -ms-animation            : animation-show-config 0.4s linear both;
      -webkit-animation        : animation-show-config 0.4s linear both;
      -moz-animation           : animation-show-config 0.4s linear both;
      animation-delay         : 0.4s;
      -o-animation-delay      : 0.4s;
      -ms-animation-delay     : 0.4s;
      -webkit-animation-delay : 0.4s;
      -moz-animation-delay    : 0.4s;

      .config-product {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        .product-list-color {
          position: absolute;
          z-index: 0;
          width: 500px;
          height: 500px;
          background-position: center;
          background-repeat: no-repeat;
          top: 0;
          left: 0;
          opacity: 1;
          transition: 0.3s all ease 0s;

          &.hide {
            opacity: 0;
          }
        }

        .config-flower {
          position: absolute;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 50%;

          .config-flower-item {
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: 0.3s all ease 0s;

            &.hide {
              opacity: 0;
            }
          }

          &.large {
            width: 97px;
            height: 99px;
          }

          &.medium {
            width: 80px;
            height: 80px;
          }

          &.small {
            width: 64px;
            height: 64px;
          }

          .config-flower-item-clickable {
            position: absolute;
            background: transparent !important;
            opacity: 0;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
            border-radius: 50%;
          }
        }
      }

    }
  }

  @keyframes          animation-show-right-selection { 0% {opacity: 0; right: -60px;} 100% {opacity: 1; right: 0px;} }
  @-ms-keyframes      animation-show-right-selection { 0% {opacity: 0; right: -60px;} 100% {opacity: 1; right: 0px;} }
  @-o-keyframes       animation-show-right-selection { 0% {opacity: 0; right: -60px;} 100% {opacity: 1; right: 0px;} }
  @-webkit-keyframes  animation-show-right-selection { 0% {opacity: 0; right: -60px;} 100% {opacity: 1; right: 0px;} }
  @-moz-keyframes     animation-show-right-selection { 0% {opacity: 0; right: -60px;} 100% {opacity: 1; right: 0px;} }

  .right {
    width: 220px;
    height: 100%;
    background: $color-e;
    float: right;
    position: relative;
    z-index: 3000;

    animation               : animation-show-right-selection 0.5s linear;
    -o-animation            : animation-show-right-selection 0.5s linear;
    -ms-animation           : animation-show-right-selection 0.5s linear;
    -webkit-animation       : animation-show-right-selection 0.5s linear;
    -moz-animation          : animation-show-right-selection 0.5s linear;

    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 200px;
      position: absolute;
      left: 0;
      bottom: -200px;
      background: $color-e;
    }

    &.disabled {
      pointer-events: none;
    }

    .step-list {
      padding-top: 22px;

      &.disabled {
        pointer-events: none;
      }

      .step-heading {
        @include fontBodyTextBold;
        height: 60px;
        line-height: 60px;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
      }

      .step-item {
        padding: 20px 15px;
        position: relative;
        cursor: pointer;

        &:first-child {
          &:before {
            @include calc('width', '100% - 40px');
            height: 1px;
            background: $color-white;
            display: block;
            content: "";
            position: absolute;
            left: 20px;
            top: 0;
          }
        }

        &:after {
          @include calc('width', '100% - 40px');
          height: 1px;
          background: $color-white;
          display: block;
          content: "";
          position: absolute;
          left: 20px;
          bottom: -1px;
        }

        &.active {
          background: $color-white;

          &:after {
            display: none
          }

          .step-info {
            .info-title {
              color: $color-black;
            }
          }
        }

        &.disabled {
          pointer-events: none;
          .step-info {
            .info-title {
              color: #666666;
            }
          }
        }

        &.completed {
          .step-info {
            .info-title {
              color: $color-black;

              .icon-check {
                &:before {
                  width: 8px;
                }

                &:after {
                  height: 16px;
                }
              }
            }
          }
        }

        .step-icon {
          background-size: cover;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: absolute;
          top: 20px;
          left: 15px;
        }

        .step-info {
          padding-left: 40px;

          .info-title {
            @include fontBodyTextBold;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            color: $color-6;
            position: relative;

            .icon-check {
              width: 8px;
              height: 16px;
              position: absolute;
              top: 3px;
              right: 5px;
              transform: rotate(45deg);

              &:before, &:after {
                display: block;
                content: "";
                background: $color-black;
                position: absolute;
              }

              &:before {
                transition: 0.3s all ease 0s;
                width: 0px;
                height: 2px;
                width: 0px;
                left: 0;
                bottom: 0;
              }

              &:after {
                transition: 0.3s all ease 0.4s;
                width: 2px;
                height: 0px;
                right: 0;
                bottom: 0;
              }
            }
          }

          .info-description  {
            @include fontBodyText;
            color: $color-6;
            font-size: 14px;
            line-height: 20px;
            display: block;
          }

          .info-selected {
            @include fontBodyText;
            color: $color-black;
            font-style: italic;
            font-size: 14px;
            line-height: 20px;
            display: block;
            text-transform: uppercase;
          }
        }
      }
    }

    .action {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 20px 15px;

      .about-tearose {
        @include fontBodyTextBold;
        transition: 0.5s all ease 0s;
        padding-left: 23px;
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        white-space: nowrap;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 30px;
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
        cursor: pointer;
        letter-spacing: 0.11px;

        .icon {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 10px;
          left: 12px;

          &:before, &:after {
            transition: 0.5s all ease 0s;
            display: block;
            content: "";
            width: 8px;
            height: 2px;
            background: $color-black;
            position: absolute;
          }

          &:before {
            transform: rotate(-45deg);
            top: 8px;
          }

          &:after {
            transform: rotate(45deg);
            top: 13px;
          }
        }

        &.active {
          background: $color-black;
          color: $color-white;

          .icon {
            top: 11px;
            left: 7px;

            &:before, &:after {
              background: $color-white;
              width: 14px;
            }

            &:before {
              top: 10px;
            }

            &:after {
              top: 10px;
            }
          }
        }

        &:after {
          display: block;
          content: "";
          width: 198px;
          height: 1px;
          background: $color-black;
          position: absolute;
          bottom: 12px;
          left: 18px;
        }
      }

      .save-config {
        @include fontBodyText;
        transition: 0.5s all ease 0s;
        height: 40px;
        line-height: 40px;
        color: $color-white;
        background: $color-black;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        cursor: pointer;

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        &:hover {
          // opacity: 0.75;
        }
      }

      .back-to-home {
        @include fontBodyTextBold;
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        white-space: nowrap;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        position: relative;

        &:after {
          display: block;
          content: "";
          width: 190px;
          height: 1px;
          background: $color-black;
          position: absolute;
          left: 0;
          bottom: 12px;
          left: 50%;
          transform: translate(-50%, 0);
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }

  .about-panel {
    transition: 0.4s all ease 0s;
    width: 804px;
    height: $MAX_HEIGHT;
    position: absolute;
    top: 0;
    right: -584px;
    opacity: 0;
    background-image: url('../../style/image/asset/black.png');
    background-position: center;
    background-size: cover;
    z-index: 2000;
    padding: 30px 30px 0;

    &:after {
      display: block;
      content: "";
      clear: both;
    }

    &.active {
      opacity: 1;
      right: 220px;
    }

    .panel-left {
      width: 360px;
      float: left;
      padding-top: 20px;
    }

    .panel-right {
      width: 350px;
      float: right;
    }

    .about-title {
      @include fontTitle;
      font-size: 22px;
      line-height: 46px;
      color: $color-white;
      padding-left: 30px;
      opacity: 0.95;
    }

    .about-text {
      @include fontBodyText;
      font-size: 14px;
      line-height: 22px;
      color: $color-white;
      padding-left: 30px;
      opacity: 0.88;
      margin-bottom: 40px;
      letter-spacing: 1.2px;
    }

    .about-img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 5px;
    }

    .about-img-description {
      @include fontBodyText;
      font-style: italic;
      font-size: 13px;
      letter-spacing: 0.8px;
      line-height: 16px;
      color: $color-a;
      margin-bottom: 15px;
    }
  }

  .send-panel {
    transition: 0.4s all ease 0s;
    width: 804px;
    height: $MAX_HEIGHT;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    background: $color-e;
    background-position: center;
    background-size: cover;
    z-index: 5000;
    padding: 35px 85px;
    visibility: hidden;

    &.active {
      opacity: 1;
      left: 0;
      visibility: visible;

      &:after {
        display: block;
      }
    }

    .confirmation-popup {
      display: none;
      width: 100%;
      clear: both;
      margin: 0 auto 30px;
    }

    .send-panel-inner {
      position: relative;
      background: $color-white;
      padding-top: 15px;
      width: 100%;
      height: $MAX_HEIGHT - 70px;

      .send-title {
        @include fontTitle;
        font-size: 32px;
        line-height: 80px;
        text-transform: uppercase;
        color: $color-black;
        width: 100%;
        text-align: center;
        position: relative;

        &.title-small {
          font-size: 28px;
        }

        &:after {
          display: block;
          content: "";
          width: 45px;
          height: 2px;
          background: $color-black;
          position: absolute;
          left: 50%;
          bottom: 0;
          margin-left: -23px;
        }
      }

      .send-description {
        @include fontBodyText;
        width: 100%;
        text-align: center;
        line-height: 70px;
        height: 70px;
        font-size: 18px;
        color: $color-black;
        margin-bottom: 20px;

        &.description-small {
          line-height: 1.6;
          padding: 30px 0 90px 0;
        }
      }

      .send-form {
        width: 400px;
        margin: 0 auto;

        .form-group {
          position: relative;

          &:after {
            display: block;
            content: "";
            clear: both;
          }

          .form-title {
            @include fontBodyTextBold;
            font-size: 14px;
            line-height: 22px;
            width: 100%;
            margin-bottom: 5px;
          }

          input {
            width: 100%;
            height: 40px;
            border: 1px solid $color-black;
            padding: 0 10px;
            margin-bottom: 12px;
            box-shadow: none;
            outline: none;
            border-radius: 0;
            -webkit-appearance: none;
            font-size: 16px;

            &:focus {
              font-size: 16px;
            }

            &.error {
              border: 1px solid #dd0000;
            }

            &.first {
              float: left;
              width: 45px;
              pointer-events: none;
            }

            &.last {
              float: right;
              width: 340px;
            }

            &.disabled {
              background: #EEE;
              border-color: #999;
              pointer-events: none;
            }
          }

          .form-error {
            @include fontBodyTextBold;
            color: #dd0000;
            font-size: 10px;
            position: absolute;
            left: 0;
            top: 0;
            height: 22px;
            line-height: 22px;
            width: 100%;
            text-transform: uppercase;
            text-align: right;
          }

          .radio-container {
            float: left;
            height: 20px;
            margin: 20px 0 20px;
            cursor: pointer;
            width: 50%;

            &.disabled {
              opacity: 0.45;
              pointer-events: none;
            }

            &:after {
              display: block;
              content: "";
              clear: both;
            }

            input {
              display: none;
            }

            input:checked + .radio-icon {
              background: black;
              box-shadow: 0 0 0 2px #FFF inset;
            }

            .radio-icon {
              width: 20px;
              height: 20px;
              border: 2px solid #000;
              float: left;
              margin-right: 10px;
            }

            .radio-label {
              float: left;
              height: 20px;
              line-height: 20px;
              font-size: 14px;
              color: #000;
            }
          }
        }
      }
      .send-action {
        width: 400px;
        margin: 0 auto;
        text-align: right;

        &.center {
          text-align: center;
        }

        > * {
          display: inline-block;
          width: auto;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          text-transform: uppercase;
          padding: 0 30px;
          margin-left: 10px;
          cursor: pointer;
          transition: 0.4s all ease 0s;
        };

        .button-cancel {
          border: 1px solid $color-black;

          &:hover {
            background: #ececec;
          }
        }

        .button-submit {
          color: $color-white;
          background: $color-black;

          &.disabled {
            background: #999;
            pointer-events: none;
          }

          &:hover {
            background: #444;
          }
        }
      }
    }
  }
}
.loading-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff url(../../style/image/asset/loader.gif) center no-repeat;
  z-index: 99;
  width: 100%;
  min-height: 400px;
  height: 100%;
}
