<div class="wrap">
  <md-radio-group ng-model="filterRadio" class="filter-radio-list">
    <md-radio-button value="All" class="md-primary">Tất Cả</md-radio-button>
    <md-radio-button value="Image" class="md-primary">Hình Ảnh</md-radio-button>
    <md-radio-button value="Video" class="md-primary">Video</md-radio-button>
  </md-radio-group>
  <div class="filter-change-view">
    <!-- <md-button class="filter-view-map">
      <i class="fa fa-map"></i>
      Xem trên bản đồ
    </md-button> -->
    <md-button class="filter-view-list" ng-click="changeTypeView()">
      <i class="fa" ng-class="{'fa-list' : listType == 'grid', 'fa-th' : listType == 'list'}"></i>
      <span>{{listType === 'grid' ? 'Xem dạng danh sách' : 'Xem dạng luới'}}</span>
    </md-button>
  </div>
</div>