product-filter {
  @include clearfix();
  display: block;

  .filter-radio-list {
    @include radius(5px);
    background: $color-white;
    display: block;
    width: 100%;
    border: 1px solid $color-c;
    padding: 12px 0;
    text-align: center;

    @media (min-width: 768px) {
      width: auto;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      background: transparent;
      border: none;
    }

    md-radio-button {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        .md-label {
          color: $color-blue;
        }
      }

      .md-label {
        font-size: 12px;
        text-transform: uppercase;
        font-family: Roboto-Medium;
        color: $color-4;
      }
    }
  }

  .filter-change-view {
    @include clearfix();
    padding: 10px 0;

    @media (min-width: 768px) {
      padding: 3px 0;
      float: right;

      * {
        color: $color-4;

        &:hover {
          color: $color-blue;
        }
      }
    }

    .filter-view-map {
      margin: 0;
      color: $color-blue;
    }

    .filter-view-list {
      margin: 0;
      float: right;
      width: 36px;
      min-width: 36px;
      color: $color-blue;

      @media (min-width: 768px) {
        float: none;
        width: auto;
      }

      span {
        display: none;

        @media (min-width: 768px) {
          display: inline-block;
        }
      }
    }
  }
}