introduce {
  display: block;

  .introduce-image {
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
    position: relative;

    @media (min-width: 768px) {
      padding: 70px 20px;
    }

    @media (min-width: 1280px) {
      padding: 80px;
    }

    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
    }

    > * {
      position: relative;
      z-index: 50;
    }

    .introduce-title {
      @include transition;
      font-family: RobotoCondensed-Bold;
      color: $color-white;
      font-size: 28px;
      line-height: 34px;
      text-align: left;
      width: 100%;
      margin-bottom: 15px;
      text-shadow: $shadow-text;
      text-transform: uppercase;

      @media (min-width: 768px) {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 25px;
      }

      @media (min-width: 1280px) {
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 30px;
      }
    }

    .introduce-description {
      width: 100%;
      text-align: justify;
      font-family: Roboto-Regular;
      color: $color-white;
      font-size: 16px;
      line-height: 20px;

      @media (min-width: 768px) {
        width: 80%;
        font-size: 19px;
        line-height: 26px;
        max-width: 700px;
        text-align: left;
      }

      @media (min-width: 1280px) {
        width: 75%;
        font-size: 22px;
        line-height: 32px;
      }
    }

    .introduce-button {
       @include radius(0);
      margin: 30px auto 0;
      color: $color-white;
      border: 1px solid $color-white;
      padding: 0 15px;
      font-family: Roboto-Bold;

      @media (min-width: 768px) {
        margin-top: 35px;
      }

      @media (min-width: 1280px) {
        margin-top: 40px;
      }
    }
  }
}