<div class="introduce-image" style="background-image: url('./1000/module/introduce/images/real.jpg')">
  <div class="wrap">
    <div class="introduce-title">CÔNG TY TNHH XÂY DỰNG CƠ KHÍ VĂN MINH</div>
    <div class="introduce-description">
      Được thành lập và phát triển với gần 10 năm kinh nghiệm trong lĩnh vực bất động sản. Với chiến lược phù hợp và tư duy quản trị đúng đắn cùng tinh thần đoàn kết, nỗ lực của toàn công ty, thương hiệu Văn Minh ngày càng được khẳng định vững chắc trên thị trường và không ngừng phát triển thành một công ty bất động sản uy tín tại thị trường phía Nam nói riêng và cả nước nói chung.
    </div>
    <md-button class="introduce-button" href="/gioi-thieu">Xem chi tiết</md-button>
  </div>
</div>