* {
	transition: .5s all ease 0s;
}
* {
	outline: 0;
	box-sizing: border-box;
	&:before, &:after {
		outline: 0;
		box-sizing: border-box;
	}
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
head {
	display: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
html, body{
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
html {
	-webkit-touch-callout 	: none;
	-webkit-user-select 	: none;
	-khtml-user-select 		: none;
	-moz-user-select 		: none;
	-ms-user-select 		: none;
	user-select 			: none;
	* {
		-webkit-touch-callout 	: none;
		-webkit-user-select 	: none;
		-khtml-user-select 		: none;
		-moz-user-select 		: none;
		-ms-user-select 		: none;
		user-select 			: none;
	}
	input, textarea {
		-webkit-touch-callout 	: text;
		-webkit-user-select 	: text;
		-khtml-user-select 		: text;
		-moz-user-select 		: text;
		-ms-user-select 		: text;
		user-select 			: text;
	}
}
.left {
	float: left;
}
.right {
	float: right;
}