@import "../../style/scss/color";
@import "../../style/scss/mixin";

app {
  display: block;
  width: 1024px;
  height: $MAX_HEIGHT;
  background: $color-white;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -512px;

  .rotate-overlay {
    @media only screen
    and (min-device-width: 700px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1) {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-image: url(../../style/image/asset/rotate.jpg);
      background-position: center;
      background-size: cover;
      z-index: 20000;
    }
  }
}