.admin-product-list {
  .product-list {
    .product-item {
      @include transition;
      @include radius(3px);
      @include clearfix;
      box-shadow: $shadow-1;
      background: $color-white;
      margin-bottom: 20px;

      &:hover {
        box-shadow: $shadow-2;
      }

      &.disabled {
        filter: grayscale(100%);
        opacity: 0.75;
      }

      .product-thumbnail {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100px;
        position: relative;

        @media (min-width: 768px) {
          width: 300px;
          height: 200px;
          float: left;
        }

        &:after {
          position: absolute;
          display: block;
          content: "";
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100px;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        }

        .product-id {
          position: absolute;
          z-index: 10;
          bottom: 0;
          left: 0;
          font-size: 50px;
          line-height: 60px;
          padding: 0 10px;
          color: $color-white;
          text-shadow: $shadow-blur;
          opacity: 0.75;
        }

        .info-date {
          font-size: 14px;
          line-height: 40px;
          padding: 0 10px;
          opacity: 0.75;
          text-align: right;
          color: $color-white;
          position: absolute;
          z-index: 10;
          bottom: 0;
          right: 0;

          i {
            margin-right: 10px;
          }
        }
      }

      .product-info {
        padding: 20px;

        @media (min-width: 768px) {
          @include calc('width', '100% - 300px');
          float: right;
        }

        .info-name {
          font-family: RobotoCondensed-Bold;
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 10px;
        }

        .info-extra {
          @include clearfix;
          margin-bottom: 20px;

          .info-price {
            @include radius(2px);
            float: left;
            background:$color-red;
            color: $color-white;
            height: 22px;
            line-height: 22px;
            font-size: 14px;
            font-family: Roboto-Medium;
            padding: 0 7px;
          }

          .info-promotion {
            float: right;
            height: 22px;
            line-height: 22px;
            font-size: 14px;
            font-family: Roboto-Medium;

            i {
              margin-right: 5px;
            }
          }
        }

        .product-action {
          @include clearfix;

          .action-switch {
            margin: 0 auto;
            width: 40px;
            display: block;

            @media (min-width: 768px) {
              float: left;
            }
          }

          .action-edit {
            width: 100%;
            margin: 0;

            .md-button {
              @include calc('width', '50% - 10px');
              margin: 0;
              float: left;

              &:last-child {
                float: right
              }
            }

            @media (min-width: 768px) {
              float: right;
              width: 280px;

              .md-button {
                width: 120px;
                margin-left: 20px;
                float: left;
              }
            }
          }
        }
      }
    }
  }
}