<admin-menu></admin-menu>
<div class="wrap admin-page admin-product-list">
  <div class="admin-heading"><i class="fa fa-tasks"></i>Danh sách Dự án</div>
  <div class="admin-content width-footer product-list">
    <div
      class="product-item"
      ng-repeat="(key, product) in dataProduct track by $index"
      ng-class="{'disabled' : !product.active}">
      <div class="product-thumbnail" style="background-image: url('{{product.baseInfo.thumbnail}}')">
        <div class="product-id">{{product.id}}</div>
        <div class="info-date"><i class="fa fa-calendar"></i>Ngày đăng: {{product.baseInfo.datePosted}}</div>
      </div>
      <div class="product-info">
        <div class="info-name">{{product.baseInfo.name}}</div>
        <div class="info-extra">
          <div class="info-price"></i>{{product.baseInfo.price.display}}</div>
          <div class="info-promotion"><i class="fa fa-gift"></i>{{product.baseInfo.promotion}}</div>
        </div>
        <div class="product-action">
          <md-switch
            class="md-primary action-switch"
            ng-model="product.active"
            ng-click="changeActive(product)">
          </md-switch>
          <div class="action-edit">
            <md-button class="button-blue" ng-click="viewDetail(product)">Xem chi tiết</md-button>
            <md-button class="button-blue" ng-click="editDetail(product)">Chỉnh sửa</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="admin-footer">
    <md-button ng-click="addNewProject()"><i class="fa fa-plus"></i>Tạo dự án mới</md-button>
  </div>
</div>