<div class="wrap">
  <div class="login-form">
    <div class="login-field">
      <md-input-container class="input-keyword">
        <label>Tài khoản</label>
        <input ng-model="login.username">
      </md-input-container>
      <md-input-container class="input-keyword">
        <label>Mật khẩu</label>
        <input type="password" ng-model="login.password">
      </md-input-container>
    </div>
    <md-button
      class="md-raised login-submit button-blue"
      ng-click="submit()"
      ng-class="{'disabled': disableButton()}">
      Đăng nhập
    </md-button>
  </div>
</div>