.login-form {
  border: 2px solid $color-blue;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;

  .login-field {
    padding: 20px 20px 0;

    md-input-container {
      display: block;
      width: 100%;
    }
  }

  .login-submit {
    @include calc('width', '100% - 40px');
    margin: 0 20px 20px;
  }
}