$color-2: #2A2C2E;
$color-4: #4A4C4E;
$color-6: #6A6C6E;
$color-6: #6A6C6E;
$color-7: #777777;
$color-a: #AAACAE;
$color-b: #BABCBE;
$color-c: #CACCCE;
$color-d: #DADCDE;
$color-e: #EEEEEE;
$color-f: #F0F2F4;

$color-f5: #F5F7F9;
$color-f0: #F0F0F0;

$color-transparent: rgba(0,0,0,0);
$color-overlay: rgba(0,5,8,0.7);

$color-gray: #F0F0F0;
$color-white: #FFF;
$color-blue: #085DAD; //3d99da
$color-cyan: #0f5959;
$color-orange: #FA6121;
$color-green: #8CC739;
$color-red: #d93240;

$color-fc: #FCFCFC;

$color-fb: #4568b2;
$color-tw: #0FB5EE;
$color-gp: #DD4B39;
$color-yt: #EC2828;

$shadow-inset: 0 1px 2px rgba(0,0,0,0.25) inset;
$shadow-text: 0px 2px 2px rgba(0, 0, 0, 0.9);
$shadow-0: 0 5px 7px rgba(0,0,0,0.1);
$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$shadow-blur: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);