#fbplus-wrap {
  box-sizing: content-box !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  box-shadow: none !important;

  #fbplus-outer {
    background: rgba(0,0,0,.8);
  }

  * {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    box-shadow: none !important;
  }
}

.md-button.button-blue {
  @include transition;
  text-align: center;
  background: $color-blue;
  color: $color-white;

  &:hover {
    background: $color-blue - #111 !important;
  }

  &.disabled {
    background: $color-a;
    pointer-events: none;
  }
}