.wrap {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.list-col-container {
  @include clearfix();

  &.wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .list-col-full {
    width: 100%;
    max-width: 960px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .list-col-main {
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: 960px) {
      width: 70%;
    }

    product-list {
      product-item {
        @media (min-width: 1440px) {
          @include calc(width, '33.33% - 14px');
          float: left;
          margin-right: 20px;

          &:nth-child(2n) {
            margin-right: 20px;
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }

    news-list {
      background: transparent;
      box-shadow: none;

      news-item {
        @media (min-width: 1024px) {
          @include calc(width, '50% - 10px');

          &:nth-child(3n) {
            margin-right: 20px;
          }

          &:nth-child(2n) {
            margin-right: 0;
          }
        }

        @media (min-width: 1440px) {
          @include calc(width, '33.33% - 14px');
          &:nth-child(2n) {
            margin-right: 20px;
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  .list-col-sidebar {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;

    &.col-sidebar-news-list {
      @include transition();
      @media (min-width: 960px) {
        padding-top: 105px;
      }

      @media (min-width: 1024px) {
        padding-top: 145px;
      }

      @media (min-width: 1280px) {
        padding-top: 136px;
      }
    }

    @media (min-width: 960px) {
      width: 30%;
      padding-left: 0;
    }
  }
}

.admin-page {
  .admin-heading {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    text-transform: uppercase;
    margin: 30px 0 30px;
    font-family: Roboto-Medium;

    i {
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
  }

  .admin-content {
    &.width-footer {
      padding-bottom: 50px;
      z-index: 10;
    }
  }

  .admin-footer {
    background: $color-blue;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    text-align: center;

    .md-button {
      background: $color-white;
      padding-left: 15px;
      padding-right: 15px;
      color: $color-4;

      i {
        margin-right: 10px;
      }
    }
  }
}