.dashboard-page {
  .list-feature {
    @include clearfix;
    margin: 20px auto;
    max-width: 768px;
    border-bottom: 1px solid $color-b;

    &:last-child {
      border-bottom: none;
    }

    .item-feature {
      @include radius(5px);
      @include clearfix;
      @include transition;
      width: 100%;
      border: 1px solid $color-blue;
      margin: 0 0 20px 0;
      padding: 0;
      cursor: pointer;
      display: block;

      @media (min-width: 600px) {
        @include calc('width', '50% - 10px');
        float: left;

        &:nth-child(2n+1) {
          margin-right: 20px;
        }
      }

      &:hover {
        box-shadow: $shadow-2;

        .feature-title {
          color: $color-blue;
        }
      }

      i {
        background: $color-blue;
        color: $color-white;
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: block;
        font-size: 16px;
      }

      .feature-title {
        @include transition;
        color: $color-4;
        font-family: Roboto-Regular;
        float: left;
        line-height: 50px;
        font-size: 16px;
        padding: 0 15px;
      }
    }

    .item-line {}
  }
}