<admin-menu></admin-menu>
<div class="wrap dashboard-page">
  <div class="list-feature">
    <md-button class="item-feature" href="/quan-ly/du-an">
      <i class="fa fa-tasks"></i>
      <div class="feature-title">Dự án</div>
    </md-button>

    <md-button class="item-feature" href="/quan-ly/tin-tuc">
      <i class="fa fa-newspaper-o"></i>
      <div class="feature-title">Tin tức</div>
    </md-button>
  </div>

  <div class="list-feature">
    <md-button class="item-feature" href="/quan-ly/ban-do">
      <i class="fa fa-map-o"></i>
      <div class="feature-title">Bản đồ</div>
    </md-button>

    <md-button class="item-feature" href="/quan-ly/the">
      <i class="fa fa-flag"></i>
      <div class="feature-title">thẻ</div>
    </md-button>

    <md-button class="item-feature" href="/quan-ly/bo-loc">
      <i class="fa fa-filter"></i>
      <div class="feature-title">Bộ lọc</div>
    </md-button>
  </div>

  <div class="list-feature">
    <md-button class="item-feature" href="/quan-ly/hinh-anh-chung">
      <i class="fa fa-photo"></i>
      <div class="feature-title">Hình ảnh chung</div>
    </md-button>

    <md-button class="item-feature" href="/quan-ly/tai-lieu-chung">
      <i class="fa fa-file-text-o"></i>
      <div class="feature-title">Tài liệu chung</div>
    </md-button>
  </div>

  <div class="list-feature">
    <md-button class="item-feature" href="#">
      <i class="fa fa-wpforms"></i>
      <div class="feature-title">Phiếu thông tin</div>
    </md-button>
  </div>
</div>