<menu-main></menu-main>
<div class="news-detail-banner" style="background-image: url(./1000/page/news-detail/images/ct.jpg)">
  <div class="news-title wrap">
    Thông tin Liên hệ
  </div>
</div>
<div class="news-detail-container list-col-container wrap">
  <div class="list-col-full">
    <div class="news-top-info">
      <div class="left info-date-posted">
        <span>Đuợc đăng ngày:</span><span class="value-date">12/12/2016</span>
      </div>
      <div class="right info-date-social">
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-fb">
          <i class="fa fa-facebook"></i>
        </md-button>
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-yt">
          <i class="fa fa-youtube"></i>
        </md-button>
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-pt">
          <i class="fa fa-pinterest"></i>
        </md-button>
      </div>
    </div>

    <div class="news-detail-inner">
      <div class="news-breadcrumb">
        <a href="/" class="breadcrumb-item">Trang chủ</a>
        <a href="/gioi-thieu" class="breadcrumb-item">Liên hệ</a>
      </div>

      <div class="news-description"></div>

      <div class="news-content">
        <img src="./1000/page/news-detail/images/info.png">
        <div class="form-contact">
          <md-input-container class="input-keyword">
            <label>Họ tên của bạn</label>
            <input ng-model="searchKeyword">
          </md-input-container>
          <md-input-container class="input-keyword">
            <label>Địa chỉ</label>
            <input ng-model="searchKeyword">
          </md-input-container>
          <md-input-container class="input-keyword">
            <label>Số điện thoại</label>
            <input ng-model="searchKeyword">
          </md-input-container>
          <md-input-container class="input-keyword">
            <label>Tiêu đề</label>
            <input ng-model="searchKeyword">
          </md-input-container>
          <md-input-container class="input-keyword">
            <label>Nội dung lời nhắn</label>
            <input ng-model="searchKeyword">
          </md-input-container>
          <md-button class="md-raised filter-submit">
            <i class="fa fa-envelope"></i>
            Gửi thông tin
          </md-button>
        </div>
      </div>

      <div class="new-social-bottom">
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-fb">
          <i class="fa fa-facebook"></i>
          <span>facebook</span>
        </md-button><md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-yt">
          <i class="fa fa-youtube"></i>
          <span>you tube</span>
        </md-button><md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-pt">
          <i class="fa fa-pinterest"></i>
          <span>pinterest</span>
        </md-button>
      </div>

      <div class="new-social-comment">
        <!-- FB Comments -->
      </div>
    </div>
  </div>
</div>
<footer></footer>