<menu-main></menu-main>
<div class="news-detail-banner" style="background-image: url(./1000/page/news-detail/images/vp.jpg)">
  <div class="news-title wrap">
    Thông tin Giới thiệu
  </div>
</div>
<div class="news-detail-container list-col-container wrap">
  <div class="list-col-full">
    <div class="news-top-info">
      <div class="left info-date-posted">
        <span>Đuợc đăng ngày:</span><span class="value-date">12/12/2016</span>
      </div>
      <div class="right info-date-social">
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-fb">
          <i class="fa fa-facebook"></i>
        </md-button>
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-yt">
          <i class="fa fa-youtube"></i>
        </md-button>
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-pt">
          <i class="fa fa-pinterest"></i>
        </md-button>
      </div>
    </div>

    <div class="news-detail-inner">
      <div class="news-breadcrumb">
        <a href="/" class="breadcrumb-item">Trang chủ</a>
        <a href="/gioi-thieu" class="breadcrumb-item">Giới thiệu</a>
      </div>

      <div class="news-description"></div>

      <div class="news-content">
        <p>CÔNG TY TNHH XÂY DỰNG CƠ KHÍ VĂN MINH được thành lập và phát triển với gần 10 năm kinh nghiệm trong lĩnh vực bất động sản. Với chiến lược phù hợp và tư duy quản trị đúng đắn cùng tinh thần đoàn kết, nỗ lực của toàn công ty, thương hiệu Văn Minh ngày càng được khẳng định vững chắc trên thị trường và không ngừng phát triển thành một công ty bất động sản uy tín tại thị trường phía Nam nói riêng và cả nước nói chung.</p>

        <img src="./1000/page/news-detail/images/chart.jpg">

        <p>VĂN MINH đã hoàn thành lộ trình tái cấu trúc bộ máy hoạt động theo mô hình Tổng Công ty và các đơn vị thành viên. Hiện nay, công ty không ngừng lớn mạnh về quy mô với 07 đơn vị thành viên, 01 văn phòng đại diện và các chi nhánh hoạt động chuyên nghiệp, hiệu quả trong các lĩnh vực: đầu tư, thiết kế, xây dựng, sản xuất nội thất và phân phối dự án bất động sản, tạo thành quy trình khép kín nhằm cung cấp gói giải pháp toàn diện cho Đối tác và mang đến cho Khách hàng những sản phẩm chất lượng với mức giá hợp lý.</p>

        <p>Theo chiến lược phát triển trong những năm tới, VĂN MINH tiếp tục định hướng phát triển bất động sản là lĩnh vực nền tảng cho mọi hoạt động kinh doanh, đầu tư bất động sản để tích lũy cho tương lai, tạo mức tăng trưởng ổn định, bền vững và khẳng định sức mạnh toàn diện của VĂN MINH. Thông qua việc ưu tiên khai thác những thế mạnh và năng lực cốt lõi sẵn có để mở rộng hợp tác đầu tư, Văn Minh cam kết mang đến những giá trị tốt đẹp cho Đối tác và Khách hàng, góp phần xây dựng thị trường bất động sản chuyên nghiệp, lành mạnh.</p>

        <p>Trên hành trình phát triển của mình, chúng tôi nhận thức rằng, để thành công và phát triển bền vững, bên cạnh định hướng chiến lược đúng đắn, thì việc trân trọng giá trị đạo đức kinh doanh, mang đến sản phẩm thực, giá trị thực, đảm bảo lợi ích tốt nhất cho Khách hàng, Đối tác và xã hội là triết lý kinh doanh đầy tính nhân văn mà công ty chúng tôi luôn hướng đến.</p>

        <img src="./1000/page/news-detail/images/key.jpg">

        <p>Với lòng quyết tâm và sự nỗ lực không ngừng của Ban điều hành và toàn thể cán bộ - nhân viên, VĂN MINH sẽ luôn đem đến cho thị trường những dự án đầy tiềm năng và là người đồng hành trên hành trình đi đến sự thịnh vượng và sung túc của Đối tác và Khách hàng.</p>
      </div>

      <div class="new-social-bottom">
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-fb">
          <i class="fa fa-facebook"></i>
          <span>facebook</span>
        </md-button><md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-yt">
          <i class="fa fa-youtube"></i>
          <span>you tube</span>
        </md-button><md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-pt">
          <i class="fa fa-pinterest"></i>
          <span>pinterest</span>
        </md-button>
      </div>

      <div class="new-social-comment">
        <!-- FB Comments -->
      </div>
    </div>
  </div>
</div>
<footer></footer>