<menu-main></menu-main>
<div class="news-detail-banner">
  <div class="news-cover" style="background-image: url({{data.thumbnail}})"></div>
  <div class="news-title wrap">{{data.name}}</div>
</div>
<div class="news-detail-container list-col-container wrap">
  <div class="list-col-main left">
    <div class="news-top-info">
      <div class="left info-date-posted">
        <span>Đuợc đăng ngày:</span><span class="value-date">{{data.datePosted}}</span>
      </div>
      <div class="right info-date-social">
        <md-button class="social-fb" href="https://www.facebook.com/bat.dong.san.van.minh/">
          <i class="fa fa-facebook"></i>
        </md-button><md-button class="social-yt" href="https://www.facebook.com/bat.dong.san.van.minh/">
          <i class="fa fa-youtube"></i>
        </md-button><md-button class="social-pt" href="https://www.facebook.com/bat.dong.san.van.minh/">
          <i class="fa fa-pinterest"></i>
        </md-button>
      </div>
    </div>

    <div class="news-detail-inner">
      <div class="news-breadcrumb">
        <a href="{{item.link}}" class="breadcrumb-item" ng-repeat="item in listBreadcrumb track by $index">{{item.title}}</a>
      </div>

      <div class="news-description">{{data.description}}</div>

      <div class="news-content">
        <div class="content-item" ng-repeat="item in data.content track by $index" ng-bind-html="renderContent(item)"></div>
      </div>

      <div class="new-social-bottom">
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-fb">
          <i class="fa fa-facebook"></i>
          <span>facebook</span>
        </md-button><md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-yt">
          <i class="fa fa-youtube"></i>
          <span>you tube</span>
        </md-button><md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-pt">
          <i class="fa fa-pinterest"></i>
          <span>pinterest</span>
        </md-button>
      </div>

      <div class="new-social-comment">
        <!-- FB Comments -->
      </div>
    </div>
  </div>
  <div class="list-col-sidebar right">
    <widget>
      <widget-heading>
        <span><i class="fa fa-newspaper-o"></i>Tin tức Liên quan</span>
      </widget-heading>
      <widget-content>
        <news-widget data="newsTopList"></news-widget>
      </widget-content>
    </widget>

    <!-- <widget>
      <widget-heading>
        <span>Chuyên mục</span>
      </widget-heading>
      <widget-content>
        <category-widget></category-widget>
      </widget-content>
    </widget> -->

    <widget>
      <widget-heading>
        <span><i class="fa fa-tag"></i>Từ khoá nổi bật</span>
      </widget-heading>
      <widget-content class="list-keyword">
        <a ng-repeat="keyword in data.keyword track by $index">{{keyword}}</a>
      </widget-content>
    </widget>

    <widget>

      <widget-heading>
        <span><i class="fa fa-tasks"></i>Sản phẩm nổi bật</span>
      </widget-heading>
      <widget-content class="list-document">
        <a ng-repeat="related in productRelated track by $index" ng-click="navigateRelated(related)"><i class="fa fa-angle-right"></i>{{related.baseInfo.name}}</a>
      </widget-content>
    </widget>
  </div>
</div>
<footer></footer>