.news-detail-banner {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  position: relative;
  box-shadow: $shadow-1;

  @media (min-width: 1280px) {
    box-shadow: none;
    position: absolute;
    height: 435px;
    padding: 40px 0;
    @include calc(width, '100% - 270px');
  }

  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 50%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    top: 0;
    left: 0;

    @media (min-width: 1280px) {
      background: rgba(0,0,0,.35);
      height: 100%;
    }
  }

  .news-cover {
    @include blur(15px);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .news-title {
    font-family: RobotoCondensed-Bold;
    color: $color-white;
    font-size: 32px;
    line-height: 38px;
    text-shadow: $shadow-text;
    position: relative;
    z-index: 20;

    @media (min-width: 1280px) {
      font-size: 44px;
      line-height: 52px;
      max-height: 208px;
      overflow: hidden;
    }
  }
}

.news-detail-container {
  &.wrap {
    @media (min-width: 1280px) {
      margin-top: 300px;
      position: relative;
      z-index: 100;
    }
  }

  .list-col-main, .list-col-full {
    background: $color-white;
    box-shadow: $shadow-1;

    @media (min-width: 960px) {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      background: transparent;
      box-shadow: none;

      .news-detail-inner {
        @include radius(3px);
        background: $color-white;
        box-shadow: $shadow-1;
      }
    }

    @media (min-width: 1280px) {
      padding-top: 0;
    }
  }

  .list-col-sidebar {
    @media (min-width: 960px) {
      padding-top: 20px;
    }

    @media (min-width: 1280px) {
      padding-top: 60px;
    }
  }

  .news-top-info {
    @include clearfix();
    padding: 10px 10px 10px 20px;
    background: $color-e;
    box-shadow: $shadow-inset;

    @media (min-width: 960px) {
      background: transparent;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
    }

    .info-date-posted {
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 14px;
      color: $color-4;
      font-family: Roboto-Regular;

      @media (min-width: 768px) {
        height: 40px;
        line-height: 40px
      }

      @media (min-width: 1280px) {
        color: $color-white;
      }

      span {
        display: none;

        @media (min-width: 768px) {
          display: inline-block;
          margin-right: 5px;
        }
      }

      .value-date {
        display: inline-block;
        font-family: Roboto-Bold;
        color: $color-4;
        @media (min-width: 1280px) {
          color: $color-white;
        }
      }
    }

    .info-date-social {

      > * {
        min-width: 36px;
        width: 36px;
        height: 36px;
        color: $color-4;
        margin: 0 0 0 10px;

        @media (min-width: 768px) {
          width: 40px;
          height: 40px;
          line-height: 40px;
        }

        @media (min-width: 1280px) {
          color: $color-white;
        }
      }

      .social-fb {}

      .social-yt {}

      .social-pt {}
    }
  }

  .news-breadcrumb {
    padding: 15px 20px;

    .breadcrumb-item {
      font-size: 14px;
      color: $color-blue;
      line-height: 20px;
      font-family: Roboto-Regular;

      &:after {
        display: inline-block;
        content: "/";
        width: 10px;
        text-align: right;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .news-description {
    font-family: Roboto-Medium;
    padding: 0 20px 15px;
    font-size: 14px;
    line-height: 20px;
    color: $color-2;
    text-align: justify;
    border-bottom: 1px solid $color-e;
  }

  .news-content {
    font-family: Roboto-Regular;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
    color: $color-4;
    text-align: justify;
    border-bottom: 1px solid $color-e;

    img {
      @include radius(3px);
      width: 100%;
      height: auto;
      max-width: 100%;
      display: block;
      margin: 15px auto;
    }

    .content-item {
      .bold {
        font-family: Roboto-Bold;
      }

      img {
        @include radius(3px 3px 0 0);
        margin: 15px auto 0;
      }

      .img-caption {
        @include radius(0 0 3px 3px);
        width: 100%;
        padding: 7px 10px;
        background: $color-f;
        font-style: italic;
        font-size: 12px;
        text-align: center;
      }
    }

    .form-contact {
      @include radius(5px);
      width: 95%;
      box-shadow: $shadow-blur;
      padding: 10px 30px;
      margin: 20px auto 30px;

      md-input-container {
        width: 100%;
        margin-bottom: 0;
      }

      md-button {
        background: $color-blue;
        color: $color-white;
      }
    }
    > * {
      margin-bottom: 10px;
    }
  }

  .news-tag {
    padding: 15px 20px;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }

    .tag-item {
      font-family: Roboto-Medium;
      font-size: 14px;
      line-height: 20px;
      color: $color-2;
      text-align: justify;
      display: inline-block;

      &:after {
        display: inline-block;
        content: ",";
        width: 5px;
        text-align: left;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:first-child {
        color: $color-blue;
      }
    }
  }

  .new-social-bottom {
    padding: 20px;
    display: block;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }

    > * {
      @include radius(3px);
      font-size: 14px;
      min-width: 36px;
      width: 36px;
      height: 36px;
      color: $color-white;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @media (min-width: 768px) {
        width: auto;
        padding: 0 12px;
        height: 30px;
        min-height: 30px;
        line-height: 30px;
      }

      span {
        display: none;

        @media (min-width: 768px) {
          display: inline-block;
          margin-left: 5px;
          text-transform: capitalize;
        }
      }
    }

    .social-fb {
      background: $color-fb;
    }

    .social-yt {
      background: $color-yt;
    }

    .social-pt {
      background: $color-orange;
    }
  }

  .new-social-comment {}
}