<menu-main></menu-main>
<div class="news-detail-banner" style="background-image: url(./1000/page/news-detail/images/hr.jpg)">
  <div class="news-title wrap">
    Thông tin Tuyển dụng
  </div>
</div>
<div class="news-detail-container list-col-container wrap">
  <div class="list-col-full">
    <div class="news-top-info">
      <div class="left info-date-posted">
        <span>Đuợc đăng ngày:</span><span class="value-date">12/12/2016</span>
      </div>
      <div class="right info-date-social">
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-fb">
          <i class="fa fa-facebook"></i>
        </md-button>
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-yt">
          <i class="fa fa-youtube"></i>
        </md-button>
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-pt">
          <i class="fa fa-pinterest"></i>
        </md-button>
      </div>
    </div>

    <div class="news-detail-inner">
      <div class="news-breadcrumb">
        <a href="/" class="breadcrumb-item">Trang chủ</a>
        <a href="/gioi-thieu" class="breadcrumb-item">Tuyển dụng</a>
      </div>

      <div class="news-description">
        Hiện tại chúng tôi không có vị trí nào cần tuyển dụng. Cảm ơn bạn đã quan tâm theo dõi.
      </div>

      <div class="news-content">
        <img src="./1000/page/news-detail/images/tks.jpg">
      </div>

      <div class="new-social-bottom">
        <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-fb">
          <i class="fa fa-facebook"></i>
          <span>facebook</span>
        </md-button><md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-yt">
          <i class="fa fa-youtube"></i>
          <span>you tube</span>
        </md-button><md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-pt">
          <i class="fa fa-pinterest"></i>
          <span>pinterest</span>
        </md-button>
      </div>

      <div class="new-social-comment">
        <!-- FB Comments -->
      </div>
    </div>
  </div>
</div>
<footer></footer>