product-item {
  @include radius(3px);
  @include transition();
  display: block;
  box-shadow: $shadow-1;
  background: $color-white;
  margin-bottom: 20px;

  &:hover {
    box-shadow: $shadow-2;

    .product-info {
      .info-price {
        color: $color-red;
      }
    }
  }

  .product-image {
    position: relative;
    padding-top: 62.5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    .product-info-head {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 0;
      left: 0;
      z-index: 30;
      padding: 15px;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

      .info-tag {
        @include clearfix();
        .tag-item {
          @include radius(2px);
          width: auto;
          height: 20px;
          line-height: 20px;
          color: $color-white;
          padding: 0 7px;
          font-size: 11px;
          font-family: Roboto-Bold;
          background: $color-a;
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
          text-transform: uppercase;

          &.tag-red {
            background: $color-red;
          }

          &.tag-green {
            background: $color-green;
          }

          &.tag-blue {
            background: $color-blue;
          }

          &.tag-orange {
            background: $color-orange;
          }

          &.tag-cyan {
            background: $color-cyan;
          }
        }
      }

      .info-name {
        font-family: RobotoCondensed-Bold;
        color: $color-white;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .product-filter {
    @include clearfix();
    background: $color-f5;
    border-bottom: 1px solid $color-e;
    padding: 15px 0 15px 15px;
    height: 45px;

    .filter-item {
      color: $color-4;
      font-size: 14px;
      float: left;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .product-info {
    @include clearfix();
    padding: 15px;

    .info-price {
      @include transition();
      float: left;
      font-family: RobotoCondensed-Bold;
      font-size: 22px;
      line-height: 36px;
      color: $color-4;
    }

    .info-view {
      float: right;
      color: $color-white;
      margin: 0;
      padding: 0 10px;
      font-family: Roboto-Medium;
      background: $color-blue;

      &:hover {
        background: $color-blue + #111;
      }
    }
  }
}