<div class="product-image" style="background-image: url('{{data.baseInfo.thumbnail}}')" ng-click="navigateToDetail()">
  <div class="product-info-head">
    <div class="info-tag">
      <div class="tag-item tag-{{tag.color}}" ng-repeat="tag in listTagProduct">{{tag.title}}</div>
    </div>
    <div class="info-name">
      {{data.baseInfo.name}}
    </div>
  </div>
</div>
<div class="product-filter">
  <div class="filter-item">
    <i class="fa fa-arrows"></i>
    {{data.area.shortText}}
  </div>
  <div class="filter-item" ng-repeat="filter in filterListProduct track by $index">
    <i class="fa {{filter.icon}}"></i>
    {{filter.preTitle + filter.value + filter.posTitle}}
  </div>
</div>
<div class="product-info">
  <div class="left info-price">{{data.baseInfo.price.display}}</div>
  <md-button class="info-view" ng-click="navigateToDetail()">Xem chi tiết</md-button>
</div>