<new-widget-item ng-repeat="item in data track by $index">
  <a href="#" class="news-widget-img" style="background-image: url({{item.thumbnail}})"></a>
  <div class="news-info">
    <a ng-click="navigateNewsDetail(item)">{{item.name}}</a>
    <span>{{item.datePosted}}</span>
  </div>
</new-widget-item>