news-widget {
  display: block;
  new-widget-item {
    display: block;
    position: relative;
    padding: 10px 10px 10px 70px;
    border-bottom: 1px solid $color-e;

    &:hover {
      .news-info {
        a {
          color: $color-blue;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }

    .news-widget-img {
      position: absolute;
      display: block;
      width: 60px;
      height: 60px;
      border: 1px solid $color-e;
      background-position: center;
      background-size: cover;
      top: 10px;
      left: 0;
      cursor: pointer;
    }

    .news-info {
      display: block;
      width: 100%;
      min-height: 60px;

      a {
        @include transition();
        font-family: Roboto-Medium;
        color: $color-2;
        font-size: 14px;
        line-height: 20px;
        display: block;
        margin-bottom: 5px;
        max-height: 80px;
        overflow: hidden;
        cursor: pointer;
      }

      span {
        font-size: 13px;
        font-family: Roboto-Regular;
        color: $color-4;
      }
    }
  }
}