product-item-list {
  @include radius(3px);
  @include transition();
  @include clearfix();
  display: block;
  box-shadow: $shadow-1;
  background: $color-white;
  margin-bottom: 20px;

  &:hover {
    box-shadow: $shadow-2;

    .product-info {
      .info-bottom {
        .info-price {
          color: $color-red;
        }
      }
    }
  }

  .product-image-container {
    width: 100%;
    cursor: pointer;

    @media (min-width: 768px) {
      width: 30%;
      float: left;
    }

    // @media (min-width: 960px) {
    //   width: 25%;
    //   padding: 15px 0 15px 15px;
    // }

    @media (min-width: 960px) {
      width: 225px;
    }
  }

  .product-image {
    position: relative;
    padding-top: 62.5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
      padding-top: 100%;
    }

    .info-tag {
      @include clearfix();
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 5px;
      left: 15px;
      padding-right: 30px;

      .tag-item {
        @include radius(2px);
        width: auto;
        height: 20px;
        line-height: 20px;
        color: $color-white;
        padding: 0 7px;
        font-size: 11px;
        font-family: Roboto-Bold;
        background: $color-a;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;

        &.tag-red {
          background: $color-red;
        }

        &.tag-green {
          background: $color-green;
        }

        &.tag-blue {
          background: $color-blue;
        }

        &.tag-orange {
          background: $color-orange;
        }

        &.tag-cyan {
          background: $color-cyan;
        }
      }
    }
  }

  .product-info {
    @media (min-width: 768px) {
      width: 70%;
      float: right;
    }

    @media (min-width: 960px) {
      width: 75%;
    }

    @media (min-width: 1024px) {
      @include calc(width, '100% - 225px');
    }

    .info-name {
      font-family: RobotoCondensed-Bold;
      color: $color-2;
      font-size: 18px;
      line-height: 22px;
      padding: 15px 15px 5px;
      cursor: pointer;

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .info-address {
      font-family: Roboto-Medium;
      color: $color-4;
      font-size: 14px;
      line-height: 20px;
      padding: 0 15px 5px;

      .fa {
        margin-right: 5px;
      }
    }

    .info-description {
      font-family: Roboto-Regular;
      color: $color-4;
      font-size: 14px;
      line-height: 20px;
      padding: 0 15px 15px;
    }

    .info-bottom {
      @include clearfix();

      @media (min-width: 768px) {
        padding-bottom: 15px;
      }

      .product-filter {
        @include clearfix();
        background: $color-f5;
        border-top: 1px solid $color-e;
        border-bottom: 1px solid $color-e;
        padding: 15px;

        @media (min-width: 768px) {
          float: left;
          background: transparent;
          border-top: none;
          border-bottom: none;
          padding-bottom: 0;
        }

        .filter-item {
          color: $color-4;
          font-size: 14px;
          float: left;
          margin-right: 20px;

          @media (min-width: 768px) {
            clear: both;
            float: none;
            padding-bottom: 15px;

            &:last-child {
              padding-bottom: 0;
            }

            .fa {
              width: 25px;
              text-align: center;
            } 
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .info-price {
        @include transition();
        float: left;
        font-family: RobotoCondensed-Bold;
        font-size: 22px;
        line-height: 36px;
        color: $color-4;
        margin: 15px 0 15px 15px;

        @media (min-width: 768px) {
          margin: 5px 0 0 0;
        }
      }

      .info-view {
        float: right;
        color: $color-white;
        margin: 15px 15px 15px 0;
        padding: 0 10px;
        font-family: Roboto-Medium;
        background: $color-blue;

        @media (min-width: 768px) {
          margin: 5px 15px 0 0;
        }

        &:hover {
          background: $color-blue + #111;
        }
      }
    }
  }
}