<div class="product-image-container" ng-click="navigateToDetail()">
  <div class="product-image" style="background-image: url('./1000/module/product-item/images/003.jpg')">
    <div class="info-tag">
      <div class="tag-item tag-{{tag.color}}" ng-repeat="tag in data.tagList">{{tag.value}}</div>
    </div>
  </div>
</div>
<div class="product-info">
  <div class="info-name" ng-click="navigateToDetail()">
    {{data.baseInfo.name}}
  </div>
  <div class="info-address">
    <i class="fa fa-map-marker"></i>
    {{data.baseInfo.address}}
  </div>
  <div class="info-description">
    {{data.baseInfo.description}}
  </div>
  <div class="info-bottom">
    <div class="product-filter">
      <div class="filter-item" ng-repeat="filter in filterList track by $index">
        <i class="fa fa-{{filter.icon}}"></i>
        {{filter.value}}
      </div>
    </div>
    <div class="info-price">{{data.baseInfo.price.display}}</div>
    <md-button class="info-view" ng-click="navigateToDetail()">Xem chi tiết</md-button>
  </div>
</div>