<admin-menu></admin-menu>
<div class="wrap admin-page admin-image">
  <div class="admin-heading"><i class="fa fa-photo"></i>Quản lý Hình ảnh chung</div>
  <div class="admin-content width-footer image-list">
    <div
      class="image-item"
      ng-repeat="(key, image) in dataImage track by $index"
      ng-class="{'disabled' : ! image.active}">
      <div class="image-heading">
        <div class="image-id">{{image.id}}</div>
        <md-input-container class="input-keyword">
          <input ng-model="image.title">
        </md-input-container>
        <md-switch
          class="md-primary action-switch"
          ng-model="image.active"
          ng-click="changeActive(image)">
        </md-switch>
      </div>
      <div class="detail-list">
        <div
          class="detail-item"
          ng-repeat="(key, item) in image.list track by $index"
          style="background-image: url('{{item}}')">
          <i class="fa fa-trash" ng-click="delete(image, item)"></i>
        </div>
        <div
          class="detail-text"
          ng-if="image.list.length === 0">Không có hình ảnh đuợc tải lên</div>
      </div>
      <div class="image-add">
        <md-button ng-click="uploadImage(image)">Tải ảnh lên</md-button>
      </div>
    </div>

    <form class="hide">
      <input type="file" file-model="myFile" onchange="angular.element(this).scope().submit()" id="inputUpload"/>
      <input type="submit" value="Upload File" ng-click="submit($event)" />
    </form>
  </div>

  <div class="admin-footer">
    <md-button ng-click="addNewImageGroup()"><i class="fa fa-plus"></i>Thêm Nhóm</md-button>
    <md-button ng-click="saveImage()"><i class="fa fa-save"></i>Lưu</md-button>
  </div>
</div>