.admin-image {
  .image-list {
    @include clearfix;

    .image-item {
      @include transition;
      @include radius(3px);
      @include clearfix;
      box-shadow: $shadow-1;
      background: $color-white;
      margin-bottom: 20px;

      &:hover {
        box-shadow: $shadow-2;
      }

      &.disabled {
        filter: grayscale(100%);
        opacity: 0.75;
      }

      .image-heading {
        @include clearfix;
        padding: 10px 0 0;
        border-bottom: 1px solid $color-d;

        .image-id {
          width: 58px;
          height: 58px;
          line-height: 58px;
          text-align: center;
          font-size: 50px;
          color: $color-a;
          float: left;
        }

        md-input-container {
          @include calc('width', '100% - 160px');
          float: left;
          margin-bottom: 0;
        }

        md-switch {
          float: right;
          margin-right: 20px;
        }
      }

      .detail-list {
        @include clearfix;
        padding: 20px;
        border-bottom: 1px solid $color-d;

        .detail-item {
          @include radius(3px);
          margin-bottom: 20px;
          background-size: contain;
          background-position: center center;
          background-color: $color-e;
          background-repeat: no-repeat;
          padding-top: 65%;
          position: relative;

          @media (min-width: 768px) {
            @include calc('width', '50% - 10px');
            float: left;
            padding-top: 32.5%;

            &:nth-child(2n+1) {
              margin-right: 20px;
            }
          }

          &:hover {
            &:before {
              opacity: 1;
            }

            i {
              opacity: 1;
              margin-top: -50px;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          &:before {
            @include transition;
            display: block;
            content: "";
            position: absolute;
            background: rgba(0,0,0,.75);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            opacity: 0;
          }

          i {
            @include transition;
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 0;
            margin-left: -50px;
            cursor: pointer;
            color: $color-white;
            font-size: 50px;
            text-align: center;
            line-height: 100px;
            z-index: 20;
            cursor: pointer;
            opacity: 0;
          }
        }

        .detail-text {
          text-align: center;
          width: 100%;
        }
      }

      .image-add {
        text-align: center;

        .md-button {}
      }
    }
  }
}