<!-- <div class="image-main" style="background-image: url({{data[0]}})" ng-click="openGallery()"></div> -->
<widget ng-repeat="group in data track by $index" ng-click="openGallery()">
  <widget-heading>
    <span><i class="fa fa-photo"></i>{{group.title}}</span>
  </widget-heading>
  <widget-content>
    <div class="image-list">
      <div class="image-item" ng-repeat="img in group.list track by $index">
        <div class="image-content" style="background-image: url({{img}})" title="Bấm vào để xem hình chi tiết">
        </div>
      </div>
    </div>
  </widget-content>
</widget>