product-image {
  display: block;
  position: relative;
  width: 100%;

  widget {
    widget-content {
      padding: 15px 15px 0 15px;
    }
  }

  .image-main {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 65%;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
  }

  .image-list {
    @include clearfix();

    .image-item {
      @include radius(3px);
      width: 100%;
      box-shadow: $shadow-blur;
      float: left;
      margin-bottom: 15px;
      margin-right: 0;
      cursor: pointer;

      @media (min-width: 768px) {
        @include calc(width, '33.33% - 10px');
        margin-right: 15px
      }

      &:nth-child(3n) {
        @media (min-width: 768px) {
          margin-right: 0;
        }
      }

      .image-content {
        @include radius(3px);
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 100%;
        background-size: cover;
        background-position: center;
      }
    }
  }
}