<div class="wrap">
  <md-button class="pagination-item" href="#">
    <i class="fa fa-angle-double-left"></i>
    Trang đầu
  </md-button>
  <md-button class="pagination-item" href="#">1</md-button>
  <md-button class="pagination-item active" href="#">2</md-button>
  <md-button class="pagination-item" href="#">3</md-button>
  <md-button class="pagination-item" href="#">4</md-button>
  <md-button class="pagination-item" href="#">5</md-button>
  <md-button class="pagination-item disabled" >...</md-button>
  <md-button class="pagination-item" href="#">30</md-button>
  <md-button class="pagination-item" href="#">
    Trang cuối
    <i class="fa fa-angle-double-right"></i>
  </md-button>
</div>