pagination {
  display: block;
  text-align: center;
  margin: 10px 0 20px;

  .pagination-item {
    margin: 0 5px 10px;
    padding: 0 10px;
    background: $color-white;
    min-width: 36px;

    &.disabled {
      pointer-events: none;
      background: transparent;
    }

    &.active {
      background: $color-blue;
      color: $color-white;
    }
  }
}