widget {
  @include radius(3px);
  @include transition();
  display: block;
  width: 100%;
  background: $color-white;
  box-shadow: $shadow-1;
  margin-bottom: 20px;

  &:hover {
    box-shadow: $shadow-2;
  }

  widget-heading {
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid $color-e;
    font-family: RobotoCondensed-Bold;
    color: $color-blue;
    text-transform: uppercase;
    font-size: 22px;
    background: $color-f;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      display: inline-block;
      position: relative;

      &:after {
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background: $color-blue;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
      }
    }

    .fa {
      margin-right: 10px;
    }
  }

  widget-content {
    display: block;
    padding: 5px 0 5px 15px;

  &.list-document {

    .download-all-document {
      color: $color-red;
    }

    a {
      @include transition();
      display: block;
      font-family: Roboto-Medium;
      color: $color-2;
      font-size: 14px;
      line-height: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 10px;
      border-bottom: 1px solid $color-e;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: $color-blue;
      }

      .fa {
        margin-right: 10px;
      }
    }
  }

  &.list-keyword {
    padding-top: 10px;

    a {
      @include transition();
      @include radius(2px);
      display: inline-block;
      font-family: Roboto-Medium;
      color: $color-2;
      font-size: 14px;
      line-height: 20px;
      padding: 5px 10px;
      margin: 0 10px 10px 0;
      background-color: $color-f;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: $color-e;
        color: $color-blue;
      }
    }
  }
  }
}