menu-left {
  @include transition;
  display: block;
  position: fixed;
  width: 270px;
  height: 100%;
  box-shadow: $shadow-5;
  background: $color-white;
  z-index: 10;
  top: 0;
  left: -270px;
  opacity: 0;

  @media (min-width: 1280px) {
    left: 0;
    opacity: 1;
  }

  .menu-left-heading {
    @include radius(0);
    display: block;
    width: 100%;
    height: 175px;
    background: $color-white;
    position: relative;
    cursor: pointer;
    z-index: 30;
    margin: 0;
    padding: 0;

    &:hover:not([disabled]) {
      background-color: $color-white;
    }

    img {
      @include transformTranslate(-50%, -50%);
      display: block;
      position: absolute;
      max-width: 70%;
      max-height: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .menu-left-content {
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-blue;
    padding: 20px;
    overflow-y: auto;
    z-index: 20;

    .filter-heading {
      height: 50px;
      margin-top: 20px;
      line-height: 50px;
      color: $color-white;
      font-family: Roboto-Bold;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
    }

    .filter-list {
      md-input-container {
        width: 100%;

        &.input-keyword {
          > label {
            opacity: 1;
          }

          &.md-input-has-value {
            > label {
              opacity: .75;
            }
          }
        }

        &.md-input-focused {
          input {
            border-bottom-color: rgba(255,255,255,.75);
          }
        }

        > label {
          color: $color-white;
          opacity: .75;
        }

        md-select {
          &:focus{
            md-select-value {
              border-bottom-color: $color-white;
            }
          }

          md-select-value {
            border-bottom-color: rgba(255,255,255,.75);

            > span {
              color: $color-white;
            }
          }
        }

        input {
          color: $color-white;
          border-bottom-color: rgba(255,255,255,.75);
        }
      }
    }

    .filter-submit {
      @include radius(20px);
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      height: 40px;
      line-height: 40px;
      color: $color-blue;
      font-size: 18px;
      font-family: Roboto-Bold;
      margin-bottom: 20px;
    }
  }

  .menu-left-overlay {
    @include transition;
    background: $color-overlay;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
    opacity: 0;

    @media (min-width: 1280px) {
      visibility: hidden !important;
      opacity: 0 !important;
    }
  }
}