<md-button class="menu-left-heading" ng-click="navigateToHome()">
  <img src="./1000/module/menu-left/images/logo.svg" alt="#Logo">
</md-button>
<div class="menu-left-content">
  <div class="filter-heading">
    Bộ lọc Tìm kiếm
  </div>
  <div class="filter-list">
    <md-input-container ng-repeat="item in listFilter">
      <label>{{item.heading}}</label>
      <md-select ng-model="item.value">
        <md-option ng-repeat="filter in item.list track by $index" ng-value="filter.key">
          {{filter.value}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="input-keyword">
      <label>Nhập từ khoá tìm kiếm...</label>
      <input ng-model="searchKeyword">
    </md-input-container>
  </div>
  <md-button class="md-raised filter-submit" ng-click="navigateToProduct()">
    <i class="fa fa-search"></i>
    Tìm kiếm
  </md-button>
</div>
<div class="menu-left-overlay" ng-click="closeMenuLeft()"></div>
