<admin-menu></admin-menu>
<div class="wrap admin-page admin-tag">
  <div class="admin-heading"><i class="fa fa-flag"></i>Quản lý Thẻ</div>
  <div class="admin-content width-footer tag-list">
    <div
      class="tag-item"
      ng-repeat="(key, tag) in dataTag track by $index"
      ng-class="{'disabled' : ! tag.active}">
      <div class="tag-name">
        <div class="tag-id">{{tag.id}}</div>
        <md-input-container class="input-keyword">
          <label>Tên Thẻ</label>
          <input ng-model="tag.title">
        </md-input-container>
        <md-switch
          class="md-primary action-switch"
          ng-model="tag.active"
          ng-click="changeActive(tag)">
        </md-switch>
      </div>
      <div class="tag-color">
        <div
          class="color-item {{color}}"
          ng-class="{'active': color ===tag.color}"
          ng-click="changeColor(tag, color)"
          ng-repeat="(key, color) in colorList track by $index">
          <i class="fa fa-check"></i>
          </div>
      </div>
      <div class="tag-result">
        <span class="{{tag.color}}">{{tag.title}}</span>
      </div>
    </div>
  </div>

  <div class="admin-footer">
    <md-button ng-click="addNewTag()"><i class="fa fa-plus"></i>Thêm Thẻ</md-button>
    <md-button ng-click="saveTag()"><i class="fa fa-save"></i>Lưu</md-button>
  </div>
</div>