.admin-tag {
  .tag-list {
    @include clearfix;

    .tag-item {
      @include transition;
      @include radius(3px);
      @include clearfix;
      box-shadow: $shadow-1;
      background: $color-white;
      margin-bottom: 20px;
      padding: 20px 0;

      &:hover {
        box-shadow: $shadow-2;
      }

      @media (min-width: 768px) {
        @include calc('width', '50% - 10px');
        float: left;

        &:nth-child(2n+1) {
          margin-right: 20px;
        }
      }

      &.disabled {
        filter: grayscale(100%);
        opacity: 0.75;
      }

      .tag-name {
        .tag-id {
          width: 58px;
          height: 58px;
          line-height: 58px;
          text-align: center;
          font-size: 50px;
          color: $color-a;
          float: left;
        }

        md-input-container {
          @include calc('width', '100% - 160px');
          float: left;
          margin-bottom: 0;
        }

        md-switch {
          float: right;
          margin-right: 20px;
        }
      }

      .tag-color {
        @include clearfix;
        padding: 0 20px 20px;
        clear: both;
        border-bottom: 1px solid $color-d;
        margin-bottom: 20px;

        .color-item {
          @include calc('width', '(100% - 40px) / 5');
          @include radius(3px);
          height: 40px;
          float: left;
          background: $color-a;
          margin-right: 10px;
          opacity: 0.1;
          cursor: pointer;
          box-shadow: $shadow-blur;

          &:last-child {
            margin-right: 0;
          }

          &.red { background: $color-red; }
          &.green { background: $color-green; }
          &.blue { background: $color-blue; }
          &.orange { background: $color-orange; }
          &.cyan { background: $color-cyan; }

          &.active {
            opacity: 1;

            i {
              opacity: 1;
            }
          }

          i {
            @include transition;
            display: block;
            width: 100%;
            color: $color-white;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            opacity: 0;
          }
        }
      }

      .tag-result {
        display: block;
        width: 100%;
        text-align: center;

        span {
          @include radius(3px);
          display: inline-block;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          color: $color-white;
          padding: 0 15px;
          box-shadow: $shadow-1;

          &.red { background: $color-red; }
          &.green { background: $color-green; }
          &.blue { background: $color-blue; }
          &.orange { background: $color-orange; }
          &.cyan { background: $color-cyan; }
        }
      }
    }
  }
}