@import "color";
@import "mixin";

html, body {
  background: $color-white;
  overflow-x: hidden;

  * {
    color: $color-4;
    font-size: 14px;
  }
}

.wrap {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
