/*  Transition */
@mixin transition($timeTransition: 500ms) {
  -webkit-transition   : all $timeTransition cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition      : all $timeTransition cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition        : all $timeTransition cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition           : all $timeTransition cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

/*  Transform translate */
@mixin transformTranslate($transform-x: 0px, $transform-y: 0px) {
  -webkit-transform : translate($transform-x, $transform-y);
  -ms-transform     : translate($transform-x, $transform-y);
  -o-transform      : translate($transform-x, $transform-y);
  transform         : translate($transform-x, $transform-y);
}

/*  Border radius */
@mixin radius($radius: 3px) {
  -webkit-border-radius : $radius;
  -moz-border-radius    : $radius;
  border-radius         : $radius;
}

/*  Clear Fix */
@mixin clearfix() {
  &:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    opacity: 0;
  }
}

/* Calc */
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin fontTitle() {
  font-family: 'clarendon-light', 'roboto', 'arial';
}

@mixin fontBodyText() {
  font-family: 'lato', 'roboto', 'arial';
}

@mixin fontBodyTextBold() {
  font-family: 'lato', 'roboto', 'arial';
  font-weight: 600;
}