<div class="menu-right-heading">
  Chuyên mục
</div>
<div class="menu-right-content">
  <md-button ng-click="closeMenuRight()" href="/"><i class="fa fa-angle-right"></i>Trang chủ</md-button>
  <md-button ng-click="closeMenuRight()" href="/gioi-thieu"><i class="fa fa-angle-right"></i>Giới thiệu</md-button>
  <md-button ng-click="closeMenuRight()" href="/danh-sach-du-an"><i class="fa fa-angle-right"></i>Dự án</md-button>
  <md-button ng-click="closeMenuRight()" href="/tin-tuc"><i class="fa fa-angle-right"></i>Tin tức</md-button>
  <md-button ng-click="closeMenuRight()" href="/tuyen-dung"><i class="fa fa-angle-right"></i>Tuyển dụng</md-button>
  <md-button ng-click="closeMenuRight()" href="/lien-he"><i class="fa fa-angle-right"></i>Liên hệ</md-button>
</div>
<div class="social-right">
  <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-fb">
    <i class="fa fa-facebook"></i>
  </md-button>
  <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-yt">
    <i class="fa fa-youtube"></i>
  </md-button>
  <md-button href="https://www.facebook.com/bat.dong.san.van.minh/" class="social-pt">
    <i class="fa fa-pinterest"></i>
  </md-button>
</div>
<div class="menu-right-overlay" ng-click="closeMenuRight()"></div>