menu-right {
  @include transition;
  display: block;
  position: fixed;
  width: 270px;
  height: 100%;
  box-shadow: $shadow-5;
  background: $color-white;
  z-index: 10;
  top: 0;
  right: -270px;
  opacity: 0;

  @media (min-width: 1280px) {
    right: -270px !important;
    opacity: 0 !important;
  }

  .menu-right-heading {
    position: absolute;
    width: 100%;
    height: 80px;
    background: $color-blue;
    color: $color-white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 20px;
    z-index: 30;
  }

  .menu-right-content {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-y: auto;
    z-index: 20;
    position: absolute;
    background: $color-white;

    .md-button {
      @include radius(0);
      width: 100%;
      margin: 0;
      padding: 0 20px;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid $color-f;
      text-align: left;
      font-family: Roboto-Medium;
      color: $color-4;

      .fa {
        margin-right: 15px;
      }
    }
  }

  .social-right {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: $color-white;
    z-index: 30;
    padding-top: 10px;
    display: block;
    text-align: center;

    .md-button {
      @include transition;
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      line-height: 30px;
      margin: 0 10px;
      padding: 0;

      &.social-fb {
        &:hover {
          background: $color-fb;
          color: $color-white;
        }
      }

      &.social-yt {
        &:hover {
          background: $color-yt;
          color: $color-white;
        }
      }

      &.social-pt {
        &:hover {
          background: $color-orange;
          color: $color-white;
        }
      }
    }
  }

  .menu-right-overlay {
    @include transition;
    background: $color-overlay;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
    opacity: 0;

    @media (min-width: 1280px) {
      visibility: hidden !important;
      opacity: 0 !important;
    }
  }
}