category-widget {
  display: block;

  a {
    @include transition();
    display: block;
    font-family: Roboto-Medium;
    color: $color-2;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    border-bottom: 1px solid $color-e;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: $color-blue;
    }
  }
}