/* *************************************** Font Roboto *************************************** */

@font-face {
    font-family: "Roboto-Black";
    src: url('../../../0000/fonts/roboto/Roboto-Black.eot');
    src: url('../../../0000/fonts/roboto/Roboto-Black.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/Roboto-Black.woff') format('woff'),
        url('../../../0000/fonts/roboto/Roboto-Black.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('../../../0000/fonts/roboto/Roboto-Bold.eot');
    src: url('../../../0000/fonts/roboto/Roboto-Bold.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/Roboto-Bold.woff') format('woff'),
        url('../../../0000/fonts/roboto/Roboto-Bold.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url('../../../0000/fonts/roboto/Roboto-Light.eot');
    src: url('../../../0000/fonts/roboto/Roboto-Light.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/Roboto-Light.woff') format('woff'),
        url('../../../0000/fonts/roboto/Roboto-Light.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../../../0000/fonts/roboto/Roboto-Medium.eot');
    src: url('../../../0000/fonts/roboto/Roboto-Medium.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/Roboto-Medium.woff') format('woff'),
        url('../../../0000/fonts/roboto/Roboto-Medium.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../../../0000/fonts/roboto/Roboto-Regular.eot');
    src: url('../../../0000/fonts/roboto/Roboto-Regular.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('../../../0000/fonts/roboto/Roboto-Regular.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url('../../../0000/fonts/roboto/Roboto-Thin.eot');
    src: url('../../../0000/fonts/roboto/Roboto-Thin.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/Roboto-Thin.woff') format('woff'),
        url('../../../0000/fonts/roboto/Roboto-Thin.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url('../../../0000/fonts/roboto/RobotoCondensed-Bold.eot');
    src: url('../../../0000/fonts/roboto/RobotoCondensed-Bold.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Bold.woff') format('woff'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Bold.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoCondensed-Light";
    src: url('../../../0000/fonts/roboto/RobotoCondensed-Light.eot');
    src: url('../../../0000/fonts/roboto/RobotoCondensed-Light.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Light.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Light.woff') format('woff'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Light.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url('../../../0000/fonts/roboto/RobotoCondensed-Regular.eot');
    src: url('../../../0000/fonts/roboto/RobotoCondensed-Regular.eot?#iefix') format('eot'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Regular.woff') format('woff'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype'),
        url('../../../0000/fonts/roboto/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}