doctype html
html(lang="en", ng-app="webApp",)
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(charset="utf-8")
    base(href = "/")
    link(rel="stylesheet", href="./1008/style/css/vendor.min.css")
    link(rel="stylesheet", href="./1008/style/css/style.min.css")
  body
    app
    list-script
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByG2Xf417GD_1VknY1OzEqh8nWgCLvVR4&libraries=places" async defer)
      script(src="./1008/style/js/vendor.min.js")
      script(src="./1008/style/js/script.min.js")
