<div class="footer-info">
  <div class="wrap">
    <div class="footer-col">
      <div class="footer-heading">Chuyên mục</div>
      <div class="footer-list">
        <a class="footer-list-item" href="/gioi-thieu">
          <i class="fa fa-angle-right"></i>
          Giới thiệu
        </a>
        <a class="footer-list-item" href="/danh-sach-du-an">
          <i class="fa fa-angle-right"></i>
          Dự án
        </a>
        <a class="footer-list-item" href="/tin-tuc">
          <i class="fa fa-angle-right"></i>
          Tin tức
        </a>
        <a class="footer-list-item" href="/tuyen-dung">
          <i class="fa fa-angle-right"></i>
          Tuyển dụng
        </a>
        <a class="footer-list-item" href="/lien-he">
          <i class="fa fa-angle-right"></i>
          Liên hệ
        </a>
        <a class="footer-list-item" href="/login">
          <i class="fa fa-angle-right"></i>
          Trang quản lý
        </a>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-heading">Dịch vụ</div>
      <div class="footer-list">
        <a class="footer-list-item" href="/lien-he">
          <i class="fa fa-angle-right"></i>
          Mua bán Nhà đất
        </a>
        <a class="footer-list-item" href="/lien-he">
          <i class="fa fa-angle-right"></i>
          Ký gửi Nhà đất
        </a>
        <a class="footer-list-item" href="/lien-he">
          <i class="fa fa-angle-right"></i>
          Tư vấn Thiết kế
        </a>
        <a class="footer-list-item" href="/lien-he">
          <i class="fa fa-angle-right"></i>
          Tư vấn Xây dựng
        </a>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-heading">Giới thiệu</div>
      <div class="footer-text">
        Với lòng quyết tâm và sự nỗ lực không ngừng của Ban điều hành và toàn thể cán bộ - nhân viên, VĂN MINH sẽ luôn đem đến cho thị trường những dự án đầy tiềm năng và là người đồng hành trên hành trình đi đến sự thịnh vượng và sung túc của Đối tác và Khách hàng.
      </div>
    </div>
    <div class="footer-col">
      <a class="footer-logo" href="/">
        <img src="./1000/module/footer/images/logo.svg" alt="#Logo">
      </a>
      <div class="footer-list none-border">
        <div class="footer-list-item">
          <i class="fa fa-map-marker"></i>
          <span>389/5/19 QL.13, P.Hiệp Bình Phuớc, Q.Thủ Đức, TP.HCM</span>
        </div>
        <div class="footer-list-item">
          <i class="fa fa-phone"></i>
          <span>0169 315 4067</span>
        </div>
        <div class="footer-list-item">
          <i class="fa fa-envelope"></i>
          <span>email@batdongsanvanminh.com</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="copy-right-text">
    Bản quyền nội dung trang web thuộc về CÔNG TY TNHH XÂY DỰNG CƠ KHÍ VĂN MINH
  </div>
</div>