footer {
  display: block;

  .footer-col {
    margin-bottom: 50px;
    width: 100%;

    @media (min-width: 768px) {
      @include calc('width', '50% - 20px');
      float: left;
      margin-right: 30px;

      &:nth-child(2n){
        margin-right: 0;
      }
    }

    @media (min-width: 1280px) {
      @include calc('width', '25% - 30px');

      &:nth-child(2n){
        margin-right: 30px;
      }

      &:nth-child(4n){
        margin-right: 0;
      }
    }
  }

  .footer-info {
    background: $color-7;
    padding: 40px 0;
    box-shadow: $shadow-inset;
  }

  .footer-copyright {
    background: $color-4;
    padding: 15px 20px;
    text-align: center;

    .copy-right-text {
      color: $color-white;
      font-size: 14px;
      opacity: .5;
      line-height: 20px;
      width: 100%;
      text-align: center;
    }
  }

  .wrap {
    @include clearfix();
  }

  .footer-heading {
    font-family: RobotoCondensed-Bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    color: $color-white;
    text-transform: uppercase;
  }

  .footer-list {
    &.none-border {
      .footer-list-item {
        border-bottom: none;
        padding-left: 36px;
        position: relative;

        i {
          position: absolute;
          display: block;
          width: 36px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          top: 0;
          left: 0;
        }

        span {
          line-height: 20px;
          padding: 5px 0;
          display: block;
        }
      }
    }

    .footer-list-item {
      @include transition();
      line-height: 36px;
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: $color-white;
      text-transform: capitalize;
      text-align: left;
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, .15);
      opacity: .75;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer-logo {
    display: block;
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;
    margin-left: 14px;

    img {
      display: block;
      width: 100%;
    }
  }

  .footer-text {
    font-size: 14px;
    color: $color-white;
    line-height: 20px;
    text-align: justify;
    opacity: .75;
  }
}