.admin-document {
  .document-list {
    @include clearfix;

    .document-item {
      @include transition;
      @include radius(3px);
      @include clearfix;
      box-shadow: $shadow-1;
      background: $color-white;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        @include calc('width', '50% - 10px');
        float: left;

        &:nth-child(2n+1) {
          margin-right: 20px;
        }
      }

      &:hover {
        box-shadow: $shadow-2;

        .document-image {
          i {
            opacity: 1;
          }
        }

        .document-detail {
          .action-switch {
            opacity: 1;
          }
        }
      }

      &.disabled {
        filter: grayscale(100%);
        opacity: 0.75;
      }

      .document-image {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $color-e;
        padding-top: 100%;

        &:after {
          position: absolute;
          display: block;
          content: "";
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100px;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        }

        .news-id {
          position: absolute;
          z-index: 10;
          bottom: 0;
          left: 0;
          font-size: 50px;
          line-height: 60px;
          padding: 0 10px;
          color: $color-white;
          text-shadow: $shadow-blur;
          opacity: 0.75;
        }

        i {
          @include transition;
          position: absolute;
          z-index: 20;
          width: 70px;
          height: 70px;
          bottom: 0;
          right: 0;
          color: $color-white;
          text-align: center;
          line-height: 70px;
          font-size: 40px;
          text-shadow: $shadow-1;
          opacity: 0;
          cursor: pointer;

          &:hover {
            text-shadow: $shadow-4;
          }
        }
      }

      .document-detail {
        position: relative;
        padding: 20px;

        .action-switch {
          @include transition;
          position: absolute;
          top: 0;
          right: 10px;
          z-index: 10;
          opacity: 0;
        }

        .input-keyword {
          margin-bottom: 0;
          width: 100%;

          .md-errors-spacer {
            display: none;
          }
        }
      }
    }
  }
}