<admin-menu></admin-menu>
<div class="wrap admin-page admin-document">
  <div class="admin-heading"><i class="fa fa-file-text-o"></i>Quản lý Tài liệu chung</div>
  <div class="admin-content width-footer document-list">
    <div
      class="document-item"
      ng-repeat="(key, document) in dataDocument track by $index"
      ng-class="{'disabled' : ! document.active}">
      <div class="document-image" style="background-image: url('{{document.src}}')">
        <div class="news-id">{{document.id}}</div>
        <i class="fa fa-upload" ng-click="upload(document)"></i>
      </div>
      <div class="document-detail">
        <md-input-container class="input-keyword">
          <label>Tên tài liệu</label>
          <input ng-model="document.title">
        </md-input-container>
        <md-switch
          class="md-primary action-switch"
          ng-model="document.active"
          ng-click="changeActive(document)">
        </md-switch>
      </div>
    </div>

    <form class="hide">
      <input type="file" file-model="myFile" onchange="angular.element(this).scope().submit()" id="inputUpload"/>
      <input type="submit" value="Upload File" ng-click="submit($event)" />
    </form>
  </div>

  <div class="admin-footer">
    <md-button ng-click="addNewDocument()"><i class="fa fa-plus"></i>Thêm Tài liệu</md-button>
    <md-button ng-click="saveDocument()"><i class="fa fa-save"></i>Lưu</md-button>
  </div>
</div>