<div class="product-list-heading">
  {{titleProductList}}
</div>
<product-filter ng-if="showProductFilter"></product-filter>
<div class="wrap" ng-if="listType === 'grid'">
  <product-item ng-repeat="(key, product) in dataProduct track by $index" data="product" ng-if="checkShow(key)"></product-item>
</div>
<div class="wrap" ng-if="listType === 'list'">
  <product-item-list ng-repeat="product in dataProduct track by $index" data="product"></product-item-list>
</div>
<!-- <pagination ng-if="showPagenation"></pagination> -->