<admin-menu></admin-menu>
<div class="wrap admin-page admin-filter">
  <div class="admin-heading"><i class="fa fa-flag"></i>Quản lý Bộ lọc</div>
  <div class="admin-content width-footer filter-list">
    <div
      class="filter-item"
      ng-repeat="(key, filter) in dataFilter track by $index"
      ng-class="{'disabled' : ! filter.active}">
      <div class="filter-heading">{{filter.title}}</div>
      <div class="filter-list">
        <div
          class="filter-value"
          ng-repeat="(key, item) in filter.list track by $index">
          <div class="filter-id">{{item.id}}</div>
          <md-input-container class="input-keyword">
            <input ng-model="item.value">
          </md-input-container>
        </div>
      </div>
    </div>
  </div>

  <div class="admin-footer">
    <md-button ng-click="saveFilter()"><i class="fa fa-save"></i>Lưu</md-button>
  </div>
</div>