.admin-filter {
  .filter-list {
    @include clearfix;

    .filter-item {
      @include transition;
      @include radius(3px);
      @include clearfix;
      box-shadow: $shadow-1;
      background: $color-white;
      margin-bottom: 20px;

      .filter-heading {
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $color-d;
        background: $color-f;
        font-family: Roboto-Bold;
        color: $color-6;
      }

      .filter-list {
        @include clearfix;
        padding: 20px 0;

        .filter-value {
          width: 100%;

          @media (min-width: 768px) {
            @include calc('width', '50% - 10px');
            float: left;

            &:nth-child(2n+1) {
              margin-right: 20px;
            }
          }

          .filter-id {
            width: 58px;
            height: 58px;
            line-height: 58px;
            text-align: center;
            font-size: 50px;
            color: $color-a;
            float: left;
          }

          md-input-container {
            @include calc('width', '100% - 70px');
            float: left;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}